<section id="gif-slider-container" class="slider-container" #container>
  <div class="slider-sub-container">
    <div class="slides-container"  #slidesContainer > 
      <!-- (swipeleft)="swipeLeft()" (swiperight)="swipeRight()" -->
      <div *ngFor="let Url  of UrlGifList; let i = index" class="slide" id="test" [ngStyle]="{'background-image': 'url(' + Url.Preview + ')' }" style="background-repeat: no-repeat;">
        <!-- *ngIf="Url.Show" -->
        <div class="gif-img "  *ngIf="!Url.Show" >
          <img class=" loader "  src="/assets/images/new/loading.png">
        </div>
        
        <a (click)="gifPreview(Url)" > <img class="gif-img"   [src]="Url.Preview" *ngIf="Url.Show" /></a>
        
      </div>


      <div  class="slide show-more-slide" *ngIf="!isLoadingInitialGifs && !isLoadingMoreGifs" (click)="loadMoreGifs()">
        <p style="top:3px; ">Show More</p>
      </div>



      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div>
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
          <img class="loader"  src="/assets/images/new/loading.png">
      </div>
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div> 
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div>
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
          <img class="loader"  src="/assets/images/new/loading.png">
      </div>
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div> 
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div> 
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div> 
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div> 
      <div  class="slide"  *ngIf="isLoadingMoreGifs">
        <img class="loader"  src="/assets/images/new/loading.png">
      </div>


      
      <div class="gif-img  " *ngIf="isLoadingInitialGifs"  >  
        <img class="initial-loader-img"  src="/assets/images/new/loading.png">
      </div>
        
      
    </div>
    <div>
      <span class="glyphicon glyphicon-chevron-left slider-btn slider-btn-before"
            (click)="translate_it(1);"></span>
      <span class="glyphicon glyphicon-chevron-right slider-btn slider-btn-after"
            (click)="translate_it(-1);"></span>
            
    </div>
  </div>
</section>

<!-- [ngStyle]="{'background-image': 'url(' + Gif.imageGIF + ')'}"> -->
