<div class="col-xs-12"  *ngIf="mailIsSent">

  <p align="justify" >
    <b>
      Un email vient de vous être envoyé à cette adresse (cela peut prendre 5 minutes).
      Pour réinitialiser votre mot de passe veuillez cliquer dans cet email et suivre les instructions.
      <br><br>
      Si vous n’avez pas reçu d’email,
      <a  (click)="resetForgetPassword()">cliquez ici</a>.
    </b>
  </p>

</div>


<form onsubmit="false" (ngSubmit)="forgetPassword()" [formGroup]="form" #f="ngForm" *ngIf="!mailIsSent">

  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput" [ngClass]="{invalidInput:(f.form.controls.email.touched && !f.form.controls.email.valid)}"
           name="email" type="text" placeholder="Email" formControlName="email" />
  </div>

  <div class="col-xs-12">
    <button type="submit" class="loginButton" *ngIf="!loadingSign">Envoyer</button>
    <button type="submit" class="loginButton" *ngIf="loadingSign" disabled>
      <div class="loading"></div>
    </button>
  </div>

  <div class="col-xs-12" *ngIf="errorMessage">
    <p class="error-msg-validation">
      {{errorMessage}}
    </p>
  </div>



</form>
