.item{
    padding:5px 10px 0 10px;
}
.corps{
    color:#7E7E7E;
    line-height:5px;
    margin-top:15px;
    margin-bottom:-15px;
}
.corps p:first-child{
    text-transform: capitalize;
    font-weight: bold;
    color:black;
    font-size: 14px;
}

.corps p{
    margin-left: 10px;
    font-size: 8pt;
}
.corps p object{
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
}