.img-circle{
    object-fit: cover;
}
.suggestion{
    margin: 0;
    padding: 10px 5px;
    border-bottom: 1px solid #efefef;
}
.suggestion:hover{
    cursor: pointer;
}
.person-img{
    display: inline-block;
}
.person-img img{
    object-fit: cover;
}
.corps{
    color: #7E7E7E;
    line-height: 12px;
    margin-top: 5px;
    width: 76%;
    float: right;
}
.corps p{
    margin-left: -5px;
    font-size: 11pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
}
.corps div:nth-child(2)>p{
    font-size: 9pt;
}
.topdiv p:first-child{
    text-transform: capitalize;
    font-weight: normal;
    color:black;
    font-size: 12pt;
    display: inline-block;
}