<div class="main-header">
    <div class="header-left">
        <article class="logo" [routerLink]="['/main/home']">
            <img src="assets/pictures/logo.png">
        </article>
    </div>

    <div class="header-right">
        <article *ngIf="isConnected">
            <div style="width:30px;height:30px;background-size: cover;background-position: center;border-radius: 50%;margin-right:10px;"
                [ngStyle]="{'background-image': 'url(' + user.profilePicture + ')'}"></div>
            <a [routerLink]="['/main/profile',user._id]">
                			   {{user.firstName}} {{user.lastName}}
            </a>
        </article>

        <article *ngIf="!isConnected">
            <a [routerLink]="['/login/signin']">
                			   Connectez-vous
            </a>
        </article>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 support bordered">
            <div class="row">
                <div class="col-sm-3 col-xs-12 support-left-menu noPadding hidden-xs">
                    <ul>
                        <article style="width: 100%;
                                font-family: 'coolvetica';
                                color: black;
                                padding: 10px 5px 15px 40px;
                                font-size: 20px;
                                border-bottom: 1px solid #e1e1e1;"><i aria-hidden="true" class="fa fa-info" style="font-size:16px;margin-right:10px;"></i> Support
                        </article>
                        <a [routerLink]="['/support/about-us']" routerLinkActive="active" (click)="collapse(0)">A propos de nous</a>
                        <a [routerLink]="['/support/cgu']" routerLinkActive="active" (click)="collapse(1)">Conditions générales d'utilisation</a>
                        <a [routerLink]="['/support/team']" routerLinkActive="active" (click)="collapse(2)">L'equipe</a>


                    </ul>
                </div>
                <div class="col-sm-9 col-xs-12 support-main-menu hidden-xs">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-xs-12 hidden-lg hidden-lg hidden-sm mobile-support noPadding">
                    <h3>Support</h3>
                    <div>
                        <article [routerLink]="['/support/about-us']" (click)="collapse(0)">A propos de nous</article>
                        <about-us style="display:none;" class="support-mobile-tab" id="aboutUsTab"></about-us>
                    </div>
                    <div>
                        <article [routerLink]="['/support/cgu']" (click)="collapse(1)">Conditions générales d'utilisation</article>
                        <cgu style="display:none;" class="support-mobile-tab" id="cguTab"></cgu>
                    </div>
                    <div>
                        <article [routerLink]="['/support/team']" (click)="collapse(2)">L'equipe</article>
                        <team style="display:none;" class="support-mobile-tab" id="teamTab"></team>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>