<div class="main-header">
  <div class="sub-main-header">
    <div class="header-left">
      <article class="logo">
      <a routerLink="/redirect">
          <img src="assets/pictures/logo.png">
      </a>

      </article>
    </div>
    <div class="header-center hidden-xs">
      <input class="search" placeholder="{{ 'main_search_placeholder' | translate }}" [(ngModel)]="searchValue" (ngModelChange)="onChange($event)"
        (focus)="checkAutoComplete()">
      <i class="fa fa-search" aria-hidden="true"></i>

      <div class="upper-arrow-search upper-arrow"></div>
      <div class="recherche-results-holder recherche-results-holder-1" style="display:none;" *ngIf="listSearchUsers">
        <div class="recherche-results" *ngIf="!showRecentSearch">
          <article *ngFor="let result of listSearchUsers" (click)="saveRecentRech(result._id,result.firstName,result.lastName,result.profilePicture,result.profilePictureMin)">
            <div class="user-img" *ngIf="result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePictureMin + ')'}">
            </div>
            <div class="user-img" *ngIf="!result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePicture + ')'}">
            </div>
            <div class="">
              {{result.firstName}} {{result.lastName}}
            </div>
          </article>
        </div>
        <div class="recherche-results" *ngIf="showRecentSearch">
          <article *ngFor="let result of RecentSearchList" (click)="saveRecentRech(result._id,result.firstName,result.lastName,result.profilePicture)">
            <div class="user-img" *ngIf="result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePictureMin + ')'}"></div>

            <div class="user-img" *ngIf="!result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePicture + ')'}"></div>

            <div class="">
              {{result.firstName}} {{result.lastName}}
            </div>
          </article>
        </div>
      </div>
    </div>
    <div id="notifSound">
    </div>
    <div class="header-right">


			<article class="suggestions-icon hidden-lg hidden-md hidden-sm">
				<i class="fa fa-user" [routerLink]="['/main/suggestions']"></i>
			</article>

      <article
               class="hidden-xs"
               style="margin-right: 10px; cursor: pointer;">
        <div class="noPadding">
          <img class="home-sidebar-icon" style="width:25px" src="assets/images/new/chat-grey.png">
        </div>
      </article>

<!--
      nb notification -->
      <article [routerLink]="['/main/notification']" class="notification-parent hidden-lg hidden-md hidden-sm">
        <div class="noPadding">
          <div class="cercle-notice" *ngIf="nbNewNotifications > 0">
            {{nbNewNotifications}}
          </div>
          <i class="fa fa-bell"></i>
        </div>
      </article>


      <article class="notification-parent hidden-xs">
        <div class="noPadding">
          <div class="cercle-notice" (click)="loadFirstNotifactions()" *ngIf="nbNewNotifications > 0">
            {{nbNewNotifications}}
          </div>
          <i (click)="loadFirstNotifactions()" class="fa fa-bell"></i>

          <div class="upper-arrow upper-arrow-notification"></div>
          <div class="notification-holder" style="display:none">
            <div  *ngIf="showNotif"  class="notifcations">

              <span *ngFor="let notif of listNotif">

                <article [class.seen-notification]="notif.isSeen === 'false'" *ngIf="notif.type !='subscribe'" (click)="goTo('post',notif.publId,notif._id)">
                  <div class="user-img for-notif" *ngIf="notif.profiles && notif.profiles.length > 0&&notif.profiles[0].profilePictureMin" [ngStyle]="{'background-image': 'url(' + notif.profiles[0].profilePictureMin + ')'}">
                    </div>


                  <div class="notif-content">
                    <div *ngIf="notif.type =='comment'" class="comment-text" (click)="goTo('post',notif.publId,notif._id)">
                      <span *ngIf="notif.profiles && notif.profiles.length == 1">
                        <span class="notif-a">
                          {{notif.profiles[0].firstName}} {{notif.profiles[0].lastName}} </span>
                        <span>{{ 'main_comment_notification' | translate }}</span>


                      </span>
                      <span *ngIf="notif.profiles &&notif.profiles.length>1">
                        <span *ngIf="notif.profiles.length==2" class="notif-a">
                          {{ 'main_notification_from_two_profiles' | translate:{first: notif.profiles[0].firstName, second: notif.profiles[1].firstName}
                          }}
                        </span>
                        <span *ngIf="notif.profiles.length>2" class="notif-a">
                          {{ 'main_notification_from_many_profiles' | translate:{first: notif.profiles[0].firstName, number: notif.profiles.length-1
                          } }}
                        </span>
                        <span>{{ 'main_comments_notification' | translate }}</span>

                      </span>
                    </div>
                    <div *ngIf="notif.type =='reagir'" class="comment-text" (click)="goTo('post',notif.publId,notif._id)">
                      <span *ngIf="notif.profiles.length==1">
                        <span class="notif-a">
                          {{notif.profiles[0].firstName}} {{notif.profiles[0].lastName}}
                        </span>
                        <span>{{ 'main_reagir_notification' | translate }}</span>

                      </span>
                      <span *ngIf=" notif.profiles && notif.profiles.length>1">
                        <span *ngIf="notif.profiles.length==2" class="notif-a">
                          {{ 'main_notification_from_two_profiles' | translate:{first: notif.profiles[0].firstName, second: notif.profiles[1].firstName}  }}
                    >
                        </span>
                        <span *ngIf="notif.profiles.length>2" class="notif-a">
                          {{ 'main_notification_from_many_profiles' | translate:{first: notif.profiles[0].firstName, number: notif.profiles.length-1
                          } }}
                        </span>
                        <span>{{ 'main_reagirs_notification' | translate}}</span>

                      </span>
                    </div>


                    <div class="time-notif ">
                        <span>


                      {{getNotificationTime(notif.date_notification)}}





                    </span>
                    </div>
                  </div>



                </article>
                <article [class.seen-notification]="notif.isSeen === 'false'" *ngIf=" notif.type =='subscribe' && notif.profiles.length >0" (click)="goTo('profile',notif.profiles[0]._id,notif._id)">
                  <div class="user-img for-notif" *ngIf="notif.profiles && notif.profiles.length >0 &&notif.profiles[notif.profiles.length-1].profilePicture" [ngStyle]="{'background-image': 'url(' + notif.profiles[0].profilePicture + ')'}"></div>

                    <div class="notif-content">
                      <div *ngIf="notif.type =='subscribe'" class="comment-text">
                         <div *ngIf="notif.profiles.length >0">
                        <span class="notif-a">{{notif.profiles[0].firstName}} {{notif.profiles[0].lastName}}</span>
                        <span>{{ 'main_subscribe_notification' | translate }} </span>
                        </div>

                      </div>
                      <div class="time-notif ">


                      <span>
                     {{getNotificationTime(notif.date_notification)}}

                  </span>
                      </div>
                    </div>

                    </article>


                </span>

              </div>
              <div style="text-align: center;" *ngIf="showButtonMoreNotif" (click)="getNotifications()">
                <a class="btn more-not" style="width: 100%">
                  {{ 'main_more_notifications' | translate }}
                </a>
              </div>

              <div *ngIf="showNoNotif" style="text-align: center;">
                <a class="btn more-not" style="width: 100%">
                  {{ 'main_no_notification' | translate }}
                </a>
              </div>



                  </div>



          </div>

      </article>


      <article *ngIf="user" [routerLink]="['/main', 'profile', user._id]"
               class="hidden-xs"
                style="margin-right: 10px; cursor: pointer">
        <div class="noPadding">
          <i class="fa fa-user"></i>
        </div>
      </article>

      <article class="signout-button" class="hidden-sm hidden-xs">
        <i class="fa fa-sort-desc" (click)="enableProfile()" style="font-size: 19px;position: relative;bottom: 2px; cursor: pointer"></i>
        <img src="assets/pictures/arrow-up.png" class="upper-arrow-profile" style="display: none;">

        <div class="profile-hover" style="display:none;">
          <article [routerLink]="['/main/parameters']">
            <i class="fa fa-wrench" aria-hidden="true"></i>
            {{ 'main_menu_update_profile' | translate }}
          </article>
          <article [routerLink]="['/support']">
            <i class="fa fa-info" aria-hidden="true"></i>
            {{ 'main_menu_support' | translate }}
          </article>
          <article [routerLink]="['/logout']">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            {{ 'main_menu_log_out' | translate }}
          </article>
        </div>

      </article>


    </div>

  </div>



</div>

<!--
<mobile-navigation></mobile-navigation>
-->

<div class="hidden-lg hidden-md hidden-sm navigation-bottom">
  <div class="home-icon outline-icon-container"
       [routerLink]="['/main', 'home']"
       [routerLinkActive]="['active-nav-icon']">
    <img class="outline-icon"
         alt="home-icon"
         src="assets/images/new/nav-icons/home-icon-full.png">
    <span class="outline-icon-text">{{"home" | translate}}</span>
  </div>
  <div class="search-icon outline-icon-container"
       [routerLink]="['/main', 'search-mobile']"
       [routerLinkActive]="['active-nav-icon']">
    <img class="outline-icon"
         alt="search-icon"
         src="assets/images/new/nav-icons/popular.png">
    <span class="outline-icon-text">{{"popular" | translate}}</span>
  </div>
  <div class="messaging-icon outline-icon-container"
       [routerLink]="['/main', 'messaging']"
       [routerLinkActive]="['active-nav-icon']">
    <img class="outline-icon"
         alt="messaging-icon"
         src="assets/images/new/nav-icons/messaging-icon-full.png">
    <span class="outline-icon-text">{{"Discussion" | translate}}</span>
  </div>
  <div class="notifications-icon outline-icon-container"
       [routerLink]="['/main', 'notification']"
       style="position:relative"
       [routerLinkActive]="['active-nav-icon']">
    <img class="outline-icon"
         alt="notifications-icon"
         src="assets/images/new/nav-icons/notifications-icon-full.png">
    <span class="outline-icon-text">{{"notifications" | translate}}</span>
    <div class="cercle-notice" style="top:0; right: 33px" *ngIf="nbNewNotifications">{{nbNewNotifications}}</div>
  </div>
  <div class="profile-icon outline-icon-container"
       [routerLink]="['/main', 'profile', user._id]"
       [routerLinkActive]="['active-nav-icon']">
    <img class="outline-icon"
         alt="user-icon"
         src="assets/images/new/nav-icons/user-icon-full.png">
    <span class="outline-icon-text">{{"profile" | translate}}</span>
  </div>
</div>



<router-outlet></router-outlet>
