<div class="team">
    <h2 class="hidden-xs">L'équipe</h2>

    <p>
        <b>«</b> Ce projet part de mon rêve de réaliser quelque chose qui repose sur mes valeurs puisque le plus important pour
        moi c’est de trouver le bonheur et d’aider les gens à vivre en harmonie, leur donner le sourire et l’énergie positive.
    </p>
    <p>
        L’idée de Speegar est de créer un réseau social qui accorde une aussi large place à l’humour pour faire plaisir aux gens,
        du rire garanti tous les 3 min.
    </p>

    <p>
        Cette étape n’aurait pas été possible sans le soutien d’une équipe de jeunes, qui se sont donné corps et âmes pour m’aider.
        En effet je tiens à remercier du fond du cœur Hamza Ghouili, Zied Saidi , Mohamed Amin Ben Mbarek , Mohamed Amin
        Samet, Rafaa Seddik, Khalil Nouisser, Chaker Mellek, Mokhles El Heni, Baha Eddine Ayadi, Khouloud Ltaief, Ahmed Touaiti,
        Khaled Khalifa, Abdelaziz Troudi, Mohamed Zouari, Lina Dridi, Walim Krichen et Hassen Mezghani pour leur dévouement
        et leur ardeur au travail.
        <b>»</b>
    </p>
    <p style="text-align: -webkit-right;">
        <b>Lassad Kouraichi</b>
        <br>
        <b>Le fondateur du site</b>
    </p>

</div>