<!-- comments -->
<div class="comment-holder" *ngIf="!commentBean.deleted" style="padding-left: 12px;">
  <div class="user-img for-comment radiused-img img-circle" *ngIf="commentBean.profilePictureMin" [ngStyle]="{'background-image': 'url(' + commentBean.profilePictureMin + ')'}">
  </div>

  <div class="user-img for-comment radiused-img img-circle" *ngIf="!commentBean.profilePictureMin" [ngStyle]="{'background-image': 'url(' + commentBean.profilePicture + ')'}">
  </div>

  <div class="row">
    <div class="comment-content col-xs-12">
      <div class="row name-and-text-comment">
        <div class="commenter-name col-xs-12" [routerLink]="['/main/profile',commentBean.profileId]">
          {{commentBean.profileFirstName}} {{commentBean.profileLastName}}
        </div>
        <div class="col-xs-12 comment-text" style="margin-bottom: 5px;max-width: 260px;word-wrap: break-word;overflow-x: hidden;">
          <span innerHTML="{{commentText | DetectUrls}}"></span>
          <a *ngIf="isLongComment && !showLastPart" (click)="showLastPart = true">{{"publication_open_last_part" | translate }}</a>
          <span *ngIf="isLongComment && showLastPart" innerHTML="{{commentTextLastPart | DetectUrls }}">
          </span>
        </div>
        <img *ngIf="commentBean.commentPicture" src="{{imageBaseUrl + commentBean.commentPicture}}" class="display-comment-picture"
        />
        <div class="likes" *ngIf="commentBean.nbLikes>0">
          <like-reaction class="mylikeholder" [checked]="true" style="width: 14px; height: 14px;display: inline-table;vertical-align: middle;"></like-reaction>
          <span class="nbr">{{commentBean.nbLikes}}</span>
        </div>

      </div>
    </div>
    <div style="font-size:12px" class="date-comment col-xs-12">
      <button (click)="addOrRemoveLike()" style="font-size:12px;font-weight: bold;color:#424242;">
        <span> J'aime </span>
      </button>
      <button (click)="removeComment(commentBean)" *ngIf="commentBean.profileId == user._id || publicationBean.profileId == user._id"
        style="font-size:12px;margin-left:0px;font-weight: bold;color:#424242;">
        <span> Supprimer </span>
      </button>
      <button style="font-size:12px;margin-left:0px;">
        <span> {{getCommentTime(commentBean.dateComment)}} </span>
      </button>
    </div>
  </div>
</div>