.app-header{
	background-color: #f5f5f5;
	padding: 15px;
	margin-bottom: 10px;
}

.app-header nav {
	float: left;
}

.messengerDiv{
	position: relative;
	margin: 0 auto;
}

.messengerDiv>.row>div{
	padding-left:0!important;
	padding-right: 0!important;
}
.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
  }
.chat-list{
	background-color:white;
}