<div class="col-xs-12" *ngIf="passwordIsUpdated">

  <p align="justify">
    <b>
      {{'reset_password_updated' | translate }}
    </b>
  </p>
</div>

<form onsubmit="false" (ngSubmit)="resetPassword()" [formGroup]="form" #f="ngForm" *ngIf="!passwordIsUpdated">
  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput"
           [ngClass]="{invalidInput:(f.form.controls.password.touched && !f.form.controls.password.valid)}"
           name="password" type="password"
           placeholder="{{'reset_password_placeholder' | translate }}"
           formControlName="password"/>
  </div>

  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput"
           [ngClass]="{invalidInput:(f.form.controls.confirm_password.touched && !f.form.controls.confirm_password.valid)}"
           name="confirm_password" type="password"
           placeholder="{{'reset_confirm_password_placeholder' | translate }}"
           formControlName="confirm_password"/>
  </div>

  <div class="col-xs-12">
    <button type="submit" class="loginButton" *ngIf="!loadingSign">
      {{'reset_password_button' | translate }}
    </button>
    <button type="submit" class="loginButton" *ngIf="loadingSign" disabled>
      <div class="loading"></div>
    </button>
  </div>

  <div class="col-xs-12" *ngIf="errorMessage">
    <p class="error-msg-validation">
      {{errorMessage | translate }}
    </p>
  </div>
</form>
