<section class="widget bordered">
  <header>
    {{ 'popular_profiles_title' | translate }}
  </header>
  <article *ngFor="let profile of popularProfiles; let i=index">
    <div *ngIf="i < displayedNumberPopularProfiles">
      <div class="user">
        <div class="user-img" *ngIf="profile.profilePictureMin"
             [routerLink]="['/main/profile',profile._id]"
             [ngStyle]="{'background-image': 'url(' + profile.profilePictureMin + ')'}">
        </div>
        <div class="user-img" *ngIf="!profile.profilePictureMin"
             [routerLink]="['/main/profile',profile._id]"
             [ngStyle]="{'background-image': 'url(' + profile.profilePicture + ')'}">
        </div>
        <div class="user-name">
          <header>
            <a [routerLink]="['/main/profile',profile._id]"
               style="max-width:115px">
              {{profile.firstName}} {{profile.lastName}}
            </a>
          </header>
          <div class="subscribe">
            <button *ngIf="!profile.isSubscribed"
                    (click)="subscribe(profile)">
              {{ 'profile_subscribe' | translate }}
            </button>
            <button class="active" *ngIf="profile.isFollowed"
                    (click)="unsubscribe(profile)">
              <i class="fa fa-check" style="position: relative;top: 1.1px;"></i>
              {{ 'profile_already_subscribed' | translate }}
            </button>

            <div class="nbr-subscribes">
              <div class="top-blagueurs-sub-nbr"> {{profile.nbSuivi}}</div>
            </div>
            <div class="ignore-profile">
              <span
                (click)="ignore(profile)"
                class="subscribe-close-button">
                &#x2715;
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>


  <a class="show-more"
     *ngIf="displayShowMore"
     (click)="loadMoreProfiles()">
    {{ 'top_blagueurs_show_more' | translate }}
  </a>
</section>

<!-- This section is hidden temporarely-->
<section *ngIf="false" class="widget bordered">
  <header>
    {{ 'profile_suggestions_title' | translate }}
  </header>
  <article *ngFor="let profile of profileSuggestions;  let i=index">
    <div *ngIf="i< displayedNumberProfileSuggestions;">
      <div class="user">
        <div class="user-img" *ngIf="profile.profilePictureMin"
             [routerLink]="['/main/profile',profile._id]"
             [ngStyle]="{'background-image': 'url(' + profile.profilePictureMin + ')'}">
        </div>
        <div class="user-img" *ngIf="!profile.profilePictureMin"
             [routerLink]="['/main/profile',profile._id]"
             [ngStyle]="{'background-image': 'url(' + profile.profilePicture + ')'}">
        </div>
        <div class="user-name">
          <header><a [routerLink]="['/main/profile',profile._id]">
            {{profile.firstName}} {{profile.lastName}}
          </a></header>
          <div class="subscribe">
            <button [class.active]="profile.isFollowed" (click)="subscribe(profile)">
              {{ 'profile_subscribe' | translate }}
            </button>
            <button class="active" *ngIf="profile.isFollowed"
                    (click)="unsubscribe(profile)">
              <i class="fa fa-check" style="position: relative;top: 1.1px;"></i>
              {{ 'profile_already_subscribed' | translate }}
            </button>
            <div class="nbr-subscribes">
              <span
                (click)="ignore(profile)"
                class="fa fa-times">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
