<div class="col-xs-12" *ngIf="mailIsSent">

  <p align="justify">
    <b>
      {{'forget_password_email_sent' | translate }}
      <br><br>
      {{'forget_password_reset_text' | translate }}
      <a (click)="resetForgetPassword()">
        {{'forget_password_reset_button' | translate }}
      </a>.
    </b>
  </p>

</div>


<form onsubmit="false" (ngSubmit)="forgetPassword()" [formGroup]="form" #f="ngForm" *ngIf="!mailIsSent">

  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput"
           [ngClass]="{invalidInput:(f.form.controls.email.touched && !f.form.controls.email.valid)}"
           name="email" type="text"
           placeholder="{{'forget_password_email_placeholder' | translate }}"
           formControlName="email"/>
  </div>

  <div class="col-xs-12">
    <button type="submit" class="loginButton" *ngIf="!loadingSign">{{'forget_password_button' | translate }}</button>
    <button type="submit" class="loginButton" *ngIf="loadingSign" disabled>
      <div class="loading"></div>
    </button>
  </div>

  <div class="col-xs-12" *ngIf="errorMessage">
    <p class="error-msg-validation">
      {{errorMessage  | translate }}
    </p>
  </div>


</form>
