<notification-bar *ngIf="!notificationService.isSubscribed && !notificationService.isNotifBarClosed"></notification-bar>

<div *ngIf="user" class="container" id="container">
  <div class="row">
    <div class="home-sidebar col-md-2 hidden-sm hidden-xs">
      <div class="home-sidebar-container" #homeSidebarLeft>
        <div><span><img class="user-img home-sidebar-icon" *ngIf="user.profilePictureMin"
                        [ngStyle]="{backgroundImage: 'url(' + user.profilePictureMin + ')'}"></span>
          <span ><a style="color:black" [routerLink]="['/main/profile',user._id]">{{loginService.getUser().firstName}} {{loginService.getUser().lastName}}</a></span>
          
          
        </div>
        <div><span><img class="home-sidebar-icon" src="assets/images/new/home-grey.png"></span>
          <span><a style="color:black;font-weight:bolder"
                   routerLink="/redirect">{{ 'FIL_ACTUALITES' | translate}}</a></span></div>
        <div [routerLink]="['/main/messaging']"><span><img class="home-sidebar-icon"
                                                           src="assets/images/new/chat-grey.png"></span>
          <span><a style="color:black" routerLink="/main/messaging">{{ 'MESSENGER' | translate}}</a></span></div>
        <hr style="width:120px;margin: 22px 0 28px 0">
        <div class="conditions-generales">
          <div style="margin-bottom: 4px;"><a href="/support/cgu">{{'conditions_generales' | translate}}</a></div>
          <div><a href="/support/about-us">{{'a_propos' | translate}}</a></div>
        </div>
        <div class="copyright-home"> Speegar &copy; 2018</div>
      </div>
    </div>















    <div *ngIf="user" class="col-md-6 col-sm-7 col-xs-12 sub-container" style="height:100%;overflow-y:auto !important">


      <div class="col-xs-12 bordered welcome-msg typeEffect" id="welcomeMsgDisplay" *ngIf="true || user.isNewInscri">
        <h3 style="margin-top:10px">{{ 'home_welcome' | translate }}</h3>
        {{ 'home_welcome_text_first_part' | translate }}
        <br> {{ 'home_welcome_text_second_part' | translate }}
        <i class="fa fa-times" aria-hidden="true" (click)="closeWelcomeMsg()"></i>
      </div>


      <div class="col-xs-12 bordered error-msg" id="errorMsgDisplay" style="display:none">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{errorMsg | translate }}

        <i class="fa fa-times" aria-hidden="true" (click)="closeErrorMsg()"></i>
      </div>


      <form class="col-xs-12 add-pub bordered noPadding"
            (ngSubmit)="publish()"
            [formGroup]="form"
            #newPubForm
            #f="ngForm">

        <div class="row add-row">
          <div class="col-md-12 col-xs-12 add-head">
            <div class="upper-form-add">
              <div class="not-btn">
                {{ 'home_publish_header' | translate }}
              </div>
              <div class="title-checkbox hidden-xs" (click)="enableTitlePost()">
                <span>{{ 'home_publish_title' | translate }}</span>
                <i class="fa" [class.fa-square-o]="!titleEnable" [class.fa-check-square-o]="titleEnable"></i>
              </div>
            </div>

          </div>
          <div class="col-md-12 col-xs-12 add-head noPadding" [ngClass]="{'pubbg1': pubclass=='pubdes1',
                                                                          'pubbg2': pubclass=='pubdes2',
                                                                          'pubbg3': pubclass=='pubdes3',
                                                                          'pubbg4': pubclass=='pubdes4',
                                                                          'pubbg5': pubclass=='pubdes5',
                                                                          'pubbg6': pubclass=='pubdes6',
                                                                          'pubbg7': pubclass=='pubdes7',
                                                                          'pubbg8': pubclass=='pubdes8',
                                                                          'pubbg9': pubclass=='pubdes9',
                                                                          'pubbg10': pubclass=='pubdes10',
                                                                          'pubbg11': pubclass=='pubdes11',
                                                                          'pubbg12': pubclass=='pubdes12',
                                                                          'pubbg13': pubclass=='pubdes13',
                                                                          'pubbg14': pubclass=='pubdes14',
                                                                          'pubbg15': pubclass=='pubdes15',
                                                                          'pubbg16': pubclass=='pubdes16',
                                                                          'pubbg17': pubclass=='pubdes17',
                                                                          'pubbg18': pubclass=='pubdes18',
                                                                          'pubbg19': pubclass=='pubdes19',
                                                                          'pubbg20': pubclass=='pubdes20',
                                                                          'pubbg21': pubclass=='pubdes21',
                                                                          'pubbg22': pubclass=='pubdes22',
                                                                          'pubbg23': pubclass=='pubdes23',
                                                                          'pubcenter':pubbg
                                                                          }"
               (input)="veriftextsize(publishDivRef)" id="pub-holder">
            <div class="pub-holder-holder" >
              <div class="user-img for-add" *ngIf="user.profilePictureMin&&!pubbg"
                   [ngStyle]="{backgroundImage: 'url(' + user.profilePictureMin + ')'}">
              </div>

              <div class="user-img for-add" *ngIf="!user.profilePictureMin"
                   [ngStyle]="{'background-image': 'url(' + user.profilePicture + ')'}">
              </div>


              <input id="pub-title-input" placeholder="{{ 'home_publish_title' | translate }}" *ngIf="titleEnable"
                     formControlName="publicationTitle" class="new-publication-title">

              <div id="publishDiv"
                   [ngStyle]="pubbg && {'font-size':'calc(0.2vw + 3.3vh)','font-family': 'Arial','font-weight': 'bolder'}"
                   [ngClass]="{'m-t-12px': titleEnable, 'textarea-publish': true, 'arabic-text': arabicText, 'post-title-enable':titleEnable,
                                                                          'pubdes1': pubclass=='pubdes1',
                                                                          'pubdes2': pubclass=='pubdes2',
                                                                          'pubdes3': pubclass=='pubdes3',
                                                                          'pubdes4': pubclass=='pubdes4',
                                                                          'pubdes5': pubclass=='pubdes5',
                                                                          'pubdes6': pubclass=='pubdes6',
                                                                          'pubdes7': pubclass=='pubdes7',
                                                                          'pubdes8': pubclass=='pubdes8',
                                                                          'pubdes9': pubclass=='pubdes9',
                                                                          'pubdes10': pubclass=='pubdes10',
                                                                          'pubdes11': pubclass=='pubdes11',
                                                                          'pubdes12': pubclass=='pubdes12',
                                                                          'pubdes13': pubclass=='pubdes13',
                                                                          'pubdes14': pubclass=='pubdes14',
                                                                          'pubdes15': pubclass=='pubdes15',
                                                                          'pubdes16': pubclass=='pubdes16',
                                                                          'pubdes17': pubclass=='pubdes17',
                                                                          'pubdes18': pubclass=='pubdes18',
                                                                          'pubdes19': pubclass=='pubdes19',
                                                                          'pubdes20': pubclass=='pubdes20',
                                                                          'pubdes21': pubclass=='pubdes21',
                                                                          'pubdes22': pubclass=='pubdes22',
                                                                          'pubdes23': pubclass=='pubdes23'
                                                                        }"
                   (paste)="updatePublishTextOnPaste($event)"
                   contenteditable="true" placeholder=" " (keyup)="checkTyping(publishDivRef)"
                   (drop)="onDrop($event)"
                   #publishDivRef style="width: calc(100% - 80px)"></div>




              <div class="file-input-holder">
                <div class="file-input">
                  <div class="ajout-img-holder">
                    <img id="preview-image">
                    <i class="fa fa-times delete-photo-post" aria-hidden="true" *ngIf="uploadedPicture || imageFromLink"
                       (click)="resetPublishPicture()"></i>

                  </div>
                </div>

              </div>

              <div class="link-preview-loading" *ngIf="linkLoading">
                {{ 'home_publish_link_loading' | translate }}
              </div>
              <!-- <div class="loader-notifications" *ngIf="!link.isSet"></div> -->
              <div class="link-preview" *ngIf="link.isSet">
                <span>
                  <i class="fa fa-times" aria-hidden="true" (click)="closeLinkAPI()"></i>
                </span>



                <div class="noPadding" *ngIf="link.isGif">
                  <img id="gifImageId" class="img-preview" [src]="link.url"/>
                </div>

                <div class="noPadding" *ngIf="link.url && !link.isGif">
                  <img class="img-preview" [src]="link.image"/>
                </div>
                <div class="descriptions" *ngIf="!link.isGif">
                  <a href="{{link.url}}" target="_blank">
                    <h4>{{link.title}}</h4>
                  </a>

                  <p>{{link.description}}</p>
                  <b>{{linkDomain}}</b>

                </div>
              </div>
              <div class="facebook-preview">

              </div>
              <!-- <div class="facebook-preview-mobile" style="display: none;">

                </div> -->
              <div class="youtube-preview">

              </div>


              <gif-slider  style="width:100%;"  *ngIf="showGifSlider" (myEvent)="previewGIF($event)" (myToggleEvent)="toggleGifSlider()"></gif-slider>

            </div>

            
        </div>


          </div>
        <div *ngIf="bglist" style="padding:5px 15px 0px">
          <div 
                  [ngClass]="{'pub-bg-container col-md-12 col-xs-12 noPadding':true}">
              <div class="navigation-arrow-container-bglist" style="left:-6px;margin-top:1px;z-index:1"
              (click)="sideScroll('left',25,100,100)">
              <img class="left-navigation-arrow" src="assets/images/new/left-arrow-white.png"></div>
            
              <div class="navigation-arrow-container-bglist" style="right:-6px;margin-top:1px;z-index:1"
              (click)="sideScroll('right',25,100,100)">
              <img class="right-navigation-arrow" src="assets/images/new/right-arrow-white.png"></div>
            <div class="bglist">
            <span><img style="border: 1px solid gray; border-radius: 5px" src="assets/images/background/bg0.png" (click)="getbg0()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg1min.jpg" (click)="getbg1()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg2min.jpg" (click)="getbg2()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg3min.jpg" (click)="getbg3()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg4min.jpg" (click)="getbg4()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg5min.jpg" (click)="getbg5()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="assets/images/background/bg6min.jpg" (click)="getbg6()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_1.jpg" (click)="getbg7()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_2.jpg" (click)="getbg8()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_3.png" (click)="getbg9()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_4.jpg" (click)="getbg10()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_5.jpg" (click)="getbg11()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_6.jpg" (click)="getbg12()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_7.jpg" (click)="getbg13()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_8.jpg" (click)="getbg14()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_9.jpg" (click)="getbg15()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_10.jpg" (click)="getbg16()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_11.jpg" (click)="getbg17()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_12.jpg" (click)="getbg18()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_13.jpg" (click)="getbg19()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/background_min_14.jpg" (click)="getbg20()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/bg22min.jpg" (click)="getbg21()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/bg27min.jpg" (click)="getbg22()"></span>&nbsp;
            <span><img style="border-radius: 5px" src="/images/background/bg32min.jpg" (click)="getbg23()"></span>

            </div>
          </div>
        </div>
        <div class="row" style="padding:0 15px">
          <div class="col-md-12 col-xs-12 add-head" style="border-bottom: 0">
           <div class="col-md-5 col-xs-6 add-buttons noPadding" style="display: flex; align-items: center">

             <span class="picture-pub-in" (click)="addPhoto()" style="margin-right: 5px; line-height: 22px;">
               <i class="fa fa-picture-o post-pic-icon" style="font-size: 20px;"></i>
             </span>

             <span (click)="toggleGifSlider()" style="line-height: 46Px">
               <img class="gif-button-desktop" style="width:26px;height:20px;margin-right:16px;padding-bottom:1px" src ="assets/images/new/gif-icon.png">
             </span>

             <span class="youtube-video-in hidden-xs" style="line-height: 23px;display:none">
                 <input class="yt-in-url youtube-input-popup"
                        placeholder="{{ 'home_publish_youtube_placeholder' | translate }}" style="display:none;"
                        (change)="updateYoutubeFacebook()" formControlName="publicationYoutubeLink">
 
 
                 <i class="fa fa-youtube-play" (click)="changeYoutubeInput()"></i>
               </span>
 


             <input type="file" id="file-image" style="display:none" accept="image/*" (change)="uploadPhoto($event)">
             <input type="file" id="file-image-gif" style="display:none" accept=".gif"
                    (change)="uploadPhotoGIF($event)">

             <div style="padding-top:7px"><i class="fas fa fa-th-large" style="font-size: 20px" (click)="bglistf()"></i></div>
           </div>
           <div class="col-md-7 col-xs-6 share-button"
                style="padding: 0;display: flex;align-items: center;justify-content: flex-end;">

                <button *ngIf="bglist" class="publish-button" 
                style="right:10px;z-index:1;background-color:transparent;border:1px solid #ccc" (click)="closeBglist()">
                <p style="color: black;margin-top: 8%;"> Annuler </p></button>

                <button *ngIf="showGifSlider" class="publish-button" 
                style="right:10px;z-index:1;background-color:transparent;border:1px solid #ccc" (click)="toggleGifSlider()">
                <p style="color: black;margin-top: 8%;"> Annuler </p></button>

                <div *ngIf="!bglist && !showGifSlider" class="dropdown hidden-sm hidden-xs" (click)="enableSelectMenu()">
               <div>
                 <header (click)="disableSelectMenu()">
                   {{ 'home_publish_visibility_header' | translate }}
                 </header>
                 <div [class.hide]="selectedMenuElement!=0">
                   <i class="fa fa-globe"></i>
                   {{ 'home_publish_visibility_all' | translate }}
                 </div>
                 <div [class.hide]="selectedMenuElement!=1">
                   <i class="fa fa-users"></i>
                   {{ 'home_publish_visibility_subscribers' | translate }}
                 </div>
                 <div class="select-menu" style="display:none;">
                   <header (click)="disbaleSelectMenu()">
                     {{ 'home_publish_visibility_header' | translate }}
                   </header>
                   <div class="select-choice" (click)="changeSelectMenu(0)">
                     <i class="fa fa-globe"></i>
                     {{ 'home_publish_visibility_all' | translate }}
                   </div>
                   <div class="select-choice" (click)="changeSelectMenu(1)">
                     <i class="fa fa-users"></i>
                     {{ 'home_publish_visibility_subscribers' | translate }}
                   </div>
                 </div>
               </div>
               <i class="fa fa-caret-down"></i>
             </div>
             <button class="publish-button" type="submit" *ngIf="!loadingPublish">
               {{ 'home_publish_button' | translate }}
             </button>
             <button class="publish-button loading-button" *ngIf="loadingPublish" disabled>
               <div class="loading"></div>
             </button>
           </div>
         
          </div>
         </div>


      </form>


      <section id="publications" class="col-xs-12 noPadding" style="height: 100%">
        <div class="filters hidden-xs" *ngIf="false">
          <div class="filter-right">
            <article [class.active]="menuFilter == 'recent'" (click)="changeMenuFilter('recent')">
              {{'more_recent' | translate}}
            </article>
            <article [class.active]="menuFilter == 'popular'" (click)="changeMenuFilter('popular')">
              {{'popular' | translate}}
            </article>
          </div>
        </div>


        <div *ngIf="user" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="0"
             (scrolled)="onScrollDown()">
          <div *ngFor=" let publicationBean of publicationBeanList; let i= index">

            <publication [publicationBean]="publicationBean">
            </publication>

            <div *ngIf="i == 2">
              <facebook-friends></facebook-friends>
              <div style="color:transparent">{{'fb_suggestions' | translate}}</div>
            </div>

          </div>
        </div>


        <!-- Loading-->
        <div class="publications-holder" id="publication" *ngIf="showLoading">
          <article class="publication bordered">

            <div class="user">
              <div class="user-img bgAnimated">
              </div>
              <div class="user-name bgAnimated" style="width:40%;height:10px;">
              </div>

            </div>
            <div class="content">
              <h4 class="bgAnimated" style="width:40%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:55%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:65%;height:10px;"></h4>

            </div>
          </article>
        </div>

        <app-suggestions *ngIf="!morePosts" class="col-xs-12 noPadding hidden-lg hidden-md hidden-sm"></app-suggestions>


      </section>
    </div>
    <div *ngIf="user" class="col-md-3 col-sm-5 hidden-xs side-home">
      <div #homeSideBarRight>
        <top-blagueurs-decov (loadPublications)="this.loadFirstPosts()"></top-blagueurs-decov>
        <section class="hidden-sm hidden-xs widget bordered" style="padding:15px" #selectLanguage>


        <span *ngFor="let language of translationLanguages; let i = index"
              (click)="onSelectLanguage(language.value)">
            <a class="language-option" style="cursor: pointer"
               [ngClass]="{'selected-language':language.value === selectedLanguage}">{{ language.name }}</a>
            <span *ngIf="i === 1"><br></span>
        </span>

      </section>
      </div>


    </div>
  </div>
</div>
