<div class="notification-bar" id="subscribeMsg" *ngIf="notificationService.isSubscribed === false ">
  <span> {{ 'SP_AUTORISATION_NOTIF' | translate}} </span>
  <span> <a (click)="notificationService.subscribeUser()">{{ 'ACTIVER_NOTIF_BUREAU' | translate}}</a></span>
</div>

<div *ngIf="user" class="container" id="container">
  <div class="row">
    <div class="home-sidebar col-md-2 hidden-sm hidden-xs">
      <div class="home-sidebar-container" #homeSidebar>
        <div><span><img class="user-img home-sidebar-icon" *ngIf="user.profilePictureMin"
                        [ngStyle]="{backgroundImage: 'url(' + user.profilePictureMin + ')'}"></span>
          <span><a style="color:black" [routerLink]="['/main/profile',user._id]">{{loginService.getUser().firstName}} {{loginService.getUser().lastName}}</a></span>
        </div>
        <div><span><img class="home-sidebar-icon" src="assets/images/new/home-grey.png"></span>
          <span><a style="color:black;font-weight:bolder"
                   routerLink="/redirect">{{ 'FIL_ACTUALITES' | translate}}</a></span></div>
        <div [routerLink]="['/main/messaging']"><span><img class="home-sidebar-icon"
                                                           src="assets/images/new/chat-grey.png"></span>
          <span><a style="color:black" routerLink="/main/messaging">{{ 'MESSENGER' | translate}}</a></span></div>
        <hr style="width:120px;margin-left:0; margin-bottom: 0">
        <div class="conditions-generales">
          <div><a href="/support/cgu">{{'conditions_generales' | translate}}</a></div>
          <div><a href="/support/about-us">{{'a_propos' | translate}}</a></div>
        </div>
        <div class="copyright-home"> Speegar &copy; 2018</div>
      </div>
    </div>















    <div *ngIf="user" class="col-md-6 col-sm-7 col-xs-12 sub-container" style="height:100%;overflow:auto !important">


      <div class="col-xs-12 bordered welcome-msg typeEffect" id="welcomeMsgDisplay" *ngIf="true || user.isNewInscri">
        <h3 style="margin-top:10px">{{ 'home_welcome' | translate }}</h3>
        {{ 'home_welcome_text_first_part' | translate }}
        <br> {{ 'home_welcome_text_second_part' | translate }}
        <i class="fa fa-times" aria-hidden="true" (click)="closeWelcomeMsg()"></i>
      </div>


      <div class="col-xs-12 bordered error-msg" id="errorMsgDisplay" style="display:none">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        {{errorMsg | translate }}

        <i class="fa fa-times" aria-hidden="true" (click)="closeErrorMsg()"></i>
      </div>


      <form class="col-xs-12 add-pub bordered noPadding"
            (ngSubmit)="publish()"
            [formGroup]="form"
            #newPubForm
            #f="ngForm">

        <div class="row add-row">
          <div class="col-md-12 col-xs-12 add-head">
            <div class="upper-form-add">
              <div class="not-btn">
                {{ 'home_publish_header' | translate }}
              </div>
              <div class="title-checkbox hidden-xs" (click)="enableTitlePost()">
                <span>{{ 'home_publish_title' | translate }}</span>
                <i class="fa" [class.fa-square-o]="!titleEnable" [class.fa-check-square-o]="titleEnable"></i>
              </div>
            </div>

          </div>
          <div class="col-md-12 col-xs-12 add-head noPadding" id="pub-holder">
            <div class="pub-holder-holder">
              <div class="user-img for-add" *ngIf="user.profilePictureMin"
                   [ngStyle]="{backgroundImage: 'url(' + user.profilePictureMin + ')'}">
              </div>

              <div class="user-img for-add" *ngIf="!user.profilePictureMin"
                   [ngStyle]="{'background-image': 'url(' + user.profilePicture + ')'}">
              </div>


              <input id="pub-title-input" placeholder="{{ 'home_publish_title' | translate }}" *ngIf="titleEnable"
                     formControlName="publicationTitle" class="new-publication-title">

              <div id="publishDiv"
                   [ngClass]="{'m-t-12px': titleEnable, 'textarea-publish': true, 'arabic-text': arabicText, 'post-title-enable':titleEnable}"
                   (paste)="updatePublishTextOnPaste($event)"
                   contenteditable="true" placeholder="Votre blague ici.." (keyup)="checkTyping(publishDivRef)"
                   #publishDivRef style="width: calc(100% - 80px)"></div>

              <gif-slider style="width:100%;" *ngIf="showGifSlider"></gif-slider>
              <!-- tag new publication -->
              <!--
              <div class="" >
                <span> tag Search user</span>
                <div class="" >
                  <div *ngIf="listTagSearchUsers">
                    <article *ngFor="let result of listTagSearchUsers">
                      <div class="user-img" *ngIf="result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePictureMin + ')'}">
                      </div>
                      <div class="user-img" *ngIf="!result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePicture + ')'}">
                      </div>
                      <div class="">
                        {{result.firstName}} {{result.lastName}}
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              -->

              <!-- tag new publication end -->

              <div class="file-input-holder">
                <div class="file-input">
                  <div class="ajout-img-holder">
                    <img id="preview-image">
                    <i class="fa fa-times delete-photo-post" aria-hidden="true" *ngIf="uploadedPicture || imageFromLink"
                       (click)="resetPublishPicture()"></i>

                  </div>
                </div>

              </div>

              <div class="link-preview-loading" *ngIf="linkLoading">
                {{ 'home_publish_link_loading' | translate }}
              </div>
              <div class="link-preview" *ngIf="link.isSet">
                <span>
                  <i class="fa fa-times" aria-hidden="true" (click)="closeLinkAPI()"></i>
                </span>

                <div class="noPadding" *ngIf="link.image">
                  <img class="img-preview" [src]="link.image"/>
                </div>
                <div class="descriptions" *ngIf="!link.isGif">
                  <a href="{{link.url}}" target="_blank">
                    <h4>{{link.title}}</h4>
                  </a>

                  <p>{{link.description}}</p>
                  <b>{{linkDomain}}</b>
                  <!--
                  <a href="{{link.url}}" target="_blank" class="subLink">
                    {{link.url}}
                  </a>
                  -->
                </div>
              </div>
              <div class="facebook-preview">

              </div>
              <div class="youtube-preview">

              </div>


            </div>

          </div>
          <div class="col-md-12 col-xs-12 add-head" style="border-bottom: 0">
            <div class="col-md-5 col-xs-6 add-buttons noPadding" style="display: flex; align-items: center">

              <span class="picture-pub-in" (click)="addPhoto()" style="margin-right: 5px; line-height: 22px;">
                <i class="fa fa-picture-o" style="font-size: 20px;"></i>
              </span>

              <span class="hidden-xs" (click)="toggleGifSlider()" style="line-height: 46Px">
                <b class="gif-btn">{{ 'home_publish_GIF' | translate }}</b>
              </span>

              <span class="youtube-video-in hidden-xs" style="line-height: 23px">
                <input class="yt-in-url youtube-input-popup"
                       placeholder="{{ 'home_publish_youtube_placeholder' | translate }}" style="display:none;"
                       (change)="updateYoutubeFacebook()" formControlName="publicationYoutubeLink">


                <i class="fa fa-youtube-play" (click)="changeYoutubeInput()"></i>
              </span>


              <input type="file" id="file-image" style="display:none" accept="image/*" (change)="uploadPhoto($event)">
              <input type="file" id="file-image-gif" style="display:none" accept=".gif"
                     (change)="uploadPhotoGIF($event)">

              <div class="change-privacy hidden-lg hidden-md hidden-sm"
                   style="position:unset; margin-right: 12px; line-height: 10px;">
                <i class="fa fa-globe" style="vertical-align: middle" [class.hide]="selectedMenuElement!=0"
                   (click)="changeSelectMenu(1)"></i>
                <i class="fa fa-users" style="vertical-align: middle" [class.hide]="selectedMenuElement!=1"
                   (click)="changeSelectMenu(0)"></i>
              </div>
            </div>
            <div class="col-md-7 col-xs-6 share-button"
                 style="padding: 0;display: flex;align-items: center;justify-content: flex-end;">
              <div class="dropdown hidden-sm hidden-xs" (click)="enableSelectMenu()">
                <div>
                  <header (click)="disableSelectMenu()">
                    {{ 'home_publish_visibility_header' | translate }}
                  </header>
                  <div [class.hide]="selectedMenuElement!=0">
                    <i class="fa fa-globe"></i>
                    {{ 'home_publish_visibility_all' | translate }}
                  </div>
                  <div [class.hide]="selectedMenuElement!=1">
                    <i class="fa fa-users"></i>
                    {{ 'home_publish_visibility_subscribers' | translate }}
                  </div>
                  <div class="select-menu" style="display:none;">
                    <header (click)="disbaleSelectMenu()">
                      {{ 'home_publish_visibility_header' | translate }}
                    </header>
                    <div class="select-choice" (click)="changeSelectMenu(0)">
                      <i class="fa fa-globe"></i>
                      {{ 'home_publish_visibility_all' | translate }}
                    </div>
                    <div class="select-choice" (click)="changeSelectMenu(1)">
                      <i class="fa fa-users"></i>
                      {{ 'home_publish_visibility_subscribers' | translate }}
                    </div>
                  </div>
                </div>
                <i class="fa fa-caret-down"></i>
              </div>
              <div class="change-privacy hidden-lg hidden-md hidden-xs" style="position:unset; margin-right: 12px">
                <i class="fa fa-globe" style="vertical-align: middle" [class.hide]="selectedMenuElement!=0"
                   (click)="changeSelectMenu(1)"></i>
                <i class="fa fa-users" style="vertical-align: middle" [class.hide]="selectedMenuElement!=1"
                   (click)="changeSelectMenu(0)"></i>
              </div>
              <button class="publish-button" type="submit" *ngIf="!loadingPublish">
                {{ 'home_publish_button' | translate }}
              </button>
              <button class="publish-button loading-button" *ngIf="loadingPublish" disabled>
                <div class="loading"></div>
              </button>
            </div>
          </div>


        </div>


      </form>


      <section id="publications" class="col-xs-12 noPadding" style="height: 100%">
        <div class="filters hidden-xs" *ngIf="false">
          <div class="filter-right">
            <article [class.active]="menuFilter == 'recent'" (click)="changeMenuFilter('recent')">
              Plus recent
            </article>
            <article [class.active]="menuFilter == 'popular'" (click)="changeMenuFilter('popular')">
              Populaire
            </article>
          </div>
        </div>


        <div *ngIf="user" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="0"
             (scrolled)="onScrollDown()">
          <div *ngFor=" let publicationBean of publicationBeanList; let i= index">

            <publication [publicationBean]="publicationBean">
            </publication>

            <div *ngIf="i == 2">
              <facebook-friends></facebook-friends>
              <div style="color:transparent">facebook suggestions</div>
            </div>

          </div>
        </div>


        <!-- Loading-->
        <div class="publications-holder" id="publication" *ngIf="showLoading">
          <article class="publication bordered">

            <div class="user">
              <div class="user-img bgAnimated">
              </div>
              <div class="user-name bgAnimated" style="width:40%;height:10px;">
              </div>

            </div>
            <div class="content">
              <h4 class="bgAnimated" style="width:40%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:55%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:65%;height:10px;"></h4>

            </div>
          </article>
        </div>

        <app-suggestions *ngIf="!morePosts" class="col-xs-12 noPadding hidden-lg hidden-md hidden-sm"></app-suggestions>


      </section>
    </div>
    <div *ngIf="user" class="col-md-3 col-sm-5 hidden-xs side-home">
      <top-blagueurs-decov (loadPublications)="this.loadFirstPosts()"></top-blagueurs-decov>


      <section class="hidden-sm hidden-xs widget bordered" style="padding:15px">


        <span *ngFor="let language of translationLanguages; let i = index"
              (click)="onSelectLanguage(language.value)">
            <a class="language-option" style="cursor: pointer"
               [ngClass]="{'selected-language':language.value === selectedLanguage}">{{ language.name }}</a>
            <span *ngIf="i === 1"><br></span>
        </span>

      </section>


    </div>
  </div>
</div>
