<div class="hidden-lg hidden-md hidden-sm navigation-bottom">
    <div class="home-icon outline-icon-container"
         [routerLink]="['/main', 'home']"
         [routerLinkActive]="['active-nav-icon']">
      <img class="outline-icon"
           alt="home-icon"
           src="assets/images/new/nav-icons/home-icon-full.png">
      <span class="outline-icon-text">{{"home" | translate}}</span>
    </div>
    <div class="search-icon outline-icon-container"
         [routerLink]="['/main', 'search-mobile']"
         [routerLinkActive]="['active-nav-icon']">
      <img class="outline-icon"
           alt="search-icon"
           src="assets/images/new/nav-icons/popular.png">
      <span class="outline-icon-text">{{"popular" | translate}}</span>
    </div>
    <div class="messaging-icon outline-icon-container"
         [routerLink]="['/main', 'messaging']"
         [routerLinkActive]="['active-nav-icon']">
      <img class="outline-icon"
           alt="messaging-icon"
           src="assets/images/new/nav-icons/messaging-icon-full.png">
      <span class="outline-icon-text">{{"Discussion" | translate}}</span>
    </div>
    <div class="notifications-icon outline-icon-container"
         [routerLink]="['/main', 'notification']"
         [routerLinkActive]="['active-nav-icon']">
      <img class="outline-icon"
           alt="notifications-icon"
           src="assets/images/new/nav-icons/notifications-icon-full.png">
      <span class="outline-icon-text">{{"notifications" | translate}}</span>
    </div>
    <div class="profile-icon outline-icon-container"
         [routerLink]="['/main', 'profile', user._id]"
         [routerLinkActive]="['active-nav-icon']">
      <img class="outline-icon"
           alt="user-icon"
           src="assets/images/new/nav-icons/user-icon-full.png">
      <span class="outline-icon-text">{{"profile" | translate}}</span>
    </div>
</div>