.header-mobile{
    text-align: center;
    padding:10px;
    border-bottom: 1px solid #EFEFEF;
}
.header-mobile img{
    background-color: #4c9a21;
    height: 30px;
}
.homebtn{
    position: absolute;
    top:5px;
    left: 10px;
}
.homebtn object{
    transform: rotate(180deg);
}