.header-mobile{
    text-align: center;
    padding:15px;
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 10000;
    background: #fafafa;
    height:50px;
    border-bottom: 1px solid #efefef;
}
.header-mobile img{
    background-color: transparent;
    height: 30px;
}
.header-mobile div>img{
    height: 30px;
    width: 30px;
}
.header-mobile div>p{
    color:black;
    font-size: 17px;
    margin:0;
}
.homebtn i{
    color:black;
    position: absolute;
    top:18px;
    left: 10px;
    box-shadow: none;
    border: none;
}