<!-- modified
<header class="suggestions-header"><b>Suggérés pour vous</b></header>
-->
<section class="suggestions-box widget row">
  <div class="container-draggable" *ngFor="let user of popularProfiles">

    <div class="msg-draggable">
    </div>
    <div class="user col-xs-12 draggable">
      <div class="user-img-shared" *ngIf="user.profilePictureMin"
           [ngStyle]="{'background-image': 'url('+user.profilePictureMin+')'}">
      </div>
      <div class="user-img-shared" *ngIf="!user.profilePictureMin"
           [ngStyle]="{'background-image': 'url('+user.profilePicture+')'}">
      </div>
      <div class="user-name">
        <header><a>
          {{user.firstName}} {{user.lastName}}
        </a></header>
        <div class="nbr-subscribers">
          {{user.nbSubscribers}} Abonnés
        </div>
      </div>
      <div class="subscribe-no-number">
        <button (click)="subscribe(user)">
          S'abonner
        </button>
      </div>
    </div>

  </div>
</section>

