<form onsubmit="false" (ngSubmit)="signin()" [formGroup]="form" #f="ngForm">
  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput"
           [ngClass]="{invalidInput:(f.form.controls.email.touched && !f.form.controls.email.valid)}"
           name="email" type="email" placeholder="{{ 'sign_in_email_placeholder' | translate }}"
           formControlName="email"/>
  </div>
  <div class="col-xs-12">
    <input (click)="errorMessage=null" class="loginInput"
           [ngClass]="{invalidInput:(f.form.controls.password.touched && !f.form.controls.password.valid)}"
           name="password" type="password"
           placeholder="{{ 'sign_in_password_placeholder' | translate }}"
           formControlName="password"/>
    <a class="forgot" routerLink="/login/forget-password">{{ 'sign_in_link_forget_password' | translate }}</a>
  </div>

  <div class="col-xs-12">
    <button type="submit" class="loginButton" *ngIf="!loadingSign">
      {{ 'sign_in_button' | translate }}
    </button>
    <button type="submit" class="loginButton" *ngIf="loadingSign" disabled>
      <div class="loading"></div>
    </button>
  </div>

  <div class="col-xs-12" *ngIf="errorMessage">
    <p class="error-msg-validation">
      {{ errorMessage | translate }}
    </p>
  </div>
</form>
