<div class="publications-holder" *ngIf="publicationBean" id="publication">
  <article class="publication bordered" *ngIf="publicationBean.displayed == true">

    <div class="user" *ngIf="!publicationBean.isShared">
      <div class="date hidden-xs" [routerLink]="['/main/post',publicationBean._id]">
        <i class="fa fa-globe" style="color:#666" *ngIf="publicationBean.confidentiality=='PUBLIC'"></i>
        <i class="fa fa-users" style="color:#666" *ngIf="publicationBean.confidentiality=='PRIVATE'"></i>
        {{getPublicationTime(publicationBean.datePublication)}}
      </div>
      <img class="user-img" [routerLink]="['/main/profile',publicationBean.profileId]" src="{{publicationBean | AvailablePicture}}">


      <div class="user-name" *ngIf="publicationBean.profileId">
        <header>
          <a [routerLink]="['/main/profile',publicationBean.profileId]">
            {{publicationBean.profileFirstName}} {{publicationBean.profileLastName}}
          </a>
        </header>
        <div class="date-mobile hidden-lg hidden-md hidden-sm" [routerLink]="['/main/post',publicationBean._id]">
          <i class="fa fa-globe" style="color:#666" *ngIf="publicationBean.confidentiality=='PUBLIC'"></i>
          <i class="fa fa-users" style="color:#666" *ngIf="publicationBean.confidentiality=='PRIVATE'"></i>
          {{getPublicationTime(publicationBean.datePublication)}}
        </div>
      </div>
    </div>
    <div class="user" *ngIf="publicationBean.isShared">
      <div class="date hidden-xs" [routerLink]="['/main/post',publicationBean._id]">
        <i class="fa fa-globe" style="color:#666" *ngIf="publicationBean.confidentiality=='PUBLIC'"></i>
        {{getPublicationTime(publicationBean.datePublication)}}
      </div>
      <img class="user-img" src="{{publicationBean | AvailablePicture}}">

      <div class="user-name" *ngIf="publicationBean.profileId">
        <header>
          <a style="display:inline;" [routerLink]="['/main/profile',publicationBean.profileId]">
            {{publicationBean.profileFirstName}} {{publicationBean.profileLastName}}
          </a>
          <span *ngIf="publicationBean.originalProfileId!==publicationBean.profileId"
           style="font-weight: normal">{{ 'publication_shared_text' | translate }}</span>
           <span *ngIf="publicationBean.originalProfileId===publicationBean.profileId"
           style="font-weight: normal">{{ 'publication_shared_text_own_pub' | translate }}</span>
          <a *ngIf="publicationBean.originalProfileId!==publicationBean.profileId"
          [routerLink]="['/main/profile',publicationBean.originalProfileId]" style="display:inline;">
            {{publicationBean.originalProfileFirstName +" "+publicationBean.originalProfileLastName }}
          </a>

        </header>
        <div class="date-mobile hidden-lg hidden-md hidden-sm" [routerLink]="['/main/post',publicationBean._id]">
          <i class="fa fa-globe" style="color:#666" *ngIf="publicationBean.confidentiality=='PUBLIC'"></i>
          <i class="fa fa-users" style="color:#666" *ngIf="publicationBean.confidentiality=='PRIVATE'"></i>
          {{getPublicationTime(publicationBean.datePublication)}}
        </div>
      </div>
    </div>

    <div class="content" [ngClass]="{                                    'pubbg1': pubclass=='pubdes1',
                                                                          'pubbg2': pubclass=='pubdes2',
                                                                          'pubbg3': pubclass=='pubdes3',
                                                                          'pubbg4': pubclass=='pubdes4',
                                                                          'pubbg5': pubclass=='pubdes5',
                                                                          'pubbg6': pubclass=='pubdes6',
                                                                          'pubbg7': pubclass=='pubdes7',
                                                                          'pubbg8': pubclass=='pubdes8',
                                                                          'pubbg9': pubclass=='pubdes9',
                                                                          'pubbg10': pubclass=='pubdes10',
                                                                          'pubbg11': pubclass=='pubdes11',
                                                                          'pubbg12': pubclass=='pubdes12',
                                                                          'pubbg13': pubclass=='pubdes13',
                                                                          'pubbg14': pubclass=='pubdes14',
                                                                          'pubbg15': pubclass=='pubdes15',
                                                                          'pubbg16': pubclass=='pubdes16',
                                                                          'pubbg17': pubclass=='pubdes17',
                                                                          'pubbg18': pubclass=='pubdes18',
                                                                          'pubbg19': pubclass=='pubdes19',
                                                                          'pubbg20': pubclass=='pubdes20',
                                                                          'pubbg21': pubclass=='pubdes21',
                                                                          'pubbg22': pubclass=='pubdes22',
                                                                          'pubbg23': pubclass=='pubdes23'
                                                                          }" *ngIf="!publicationBean.isShared">
      <h4 *ngIf="publicationBean.publTitle != 'null'" [routerLink]="['/main/post',publicationBean._id]" class="publication-text">
        {{publicationBean.publTitle}} </h4>
      <span *ngIf="publicationBean.publText !== 'null'
                  && publicationBean.publText !=='undefined'
                  && publicationBean.publText.length > 0" [ngClass]="{'publication-text': true, 'arabic-text': arabicText}"
        [ngStyle]="{'textAlign': textplace}">
        <span class="{{pubclass}}" style="width: 600px" [innerHTML]="firstPubText"></span>
        <a *ngIf="isLongText && !isLongTextShow" (click)="isLongTextShow=true" style="display: inline">
          {{"publication_open_last_part" | translate }}</a>
        <span *ngIf="isLongText && isLongTextShow" class="{{pubclass}}" style="width: 600px" [innerHTML]="lastPubText">
        </span>
      </span>


      <div class="link-preview" *ngIf="link.isSet">
        <div class="noPadding" *ngIf="link.image">
          <a href="{{link.url}}" target="_blank" style="width:100%">
            <img class="img-preview" [src]="link.image" (click)="preventLink($event, link.isGif)" />
          </a>
        </div>
        <div class="descriptions" *ngIf="!link.isGif">
          <a href="{{link.url}}" target="_blank">
            <h4>{{link.title}}</h4>
          </a>
          <p>{{link.description}}</p>
          <a href="{{link.url}}" target="_blank" class="subLink">{{link.url}}</a>
        </div>
      </div>
      <img class="myImg" *ngIf="publicationBean.publPictureLink" src="{{imageBaseUrl+ publicationBean.publPictureLink}}">

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close-button-x">&#10006;</span>
        <span class="close-button" onclick="document.getElementById('myModal').style.display='none'">×</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">

        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
      </div>

      <div class="facebook-preview-publication" *ngIf="publicationBean.publfacebookLink && publicationBean.publfacebookLink!='null'">
        <iframe width="500" height="580" [src]="url" frameborder="0" allowfullscreen>
        </iframe>
      </div>
      <div class="youtube-preview-publication" *ngIf="publicationBean.publyoutubeLink && publicationBean.publyoutubeLink!='null'">
        <iframe width="560" height="400" [src]="url" frameborder="0" allowfullscreen>
        </iframe>




      </div>

    </div>


    <div class="content" [ngClass]="{                                     'pubbg1': pubclass=='pubdes1',
                                                                          'pubbg2': pubclass=='pubdes2',
                                                                          'pubbg3': pubclass=='pubdes3',
                                                                          'pubbg4': pubclass=='pubdes4',
                                                                          'pubbg5': pubclass=='pubdes5',
                                                                          'pubbg6': pubclass=='pubdes6',
                                                                          'pubbg7': pubclass=='pubdes7',
                                                                          'pubbg8': pubclass=='pubdes8',
                                                                          'pubbg9': pubclass=='pubdes9',
                                                                          'pubbg10': pubclass=='pubdes10',
                                                                          'pubbg11': pubclass=='pubdes11',
                                                                          'pubbg12': pubclass=='pubdes12',
                                                                          'pubbg13': pubclass=='pubdes13',
                                                                          'pubbg14': pubclass=='pubdes14',
                                                                          'pubbg15': pubclass=='pubdes15',
                                                                          'pubbg16': pubclass=='pubdes16',
                                                                          'pubbg17': pubclass=='pubdes17',
                                                                          'pubbg18': pubclass=='pubdes18',
                                                                          'pubbg19': pubclass=='pubdes19',
                                                                          'pubbg20': pubclass=='pubdes20',
                                                                          'pubbg21': pubclass=='pubdes21',
                                                                          'pubbg22': pubclass=='pubdes22',
                                                                          'pubbg23': pubclass=='pubdes23'
                                                                          }" *ngIf="publicationBean.isShared">

      <article [ngClass]="{'publication shared-publication':!pubbg,'publicationwithbg shared-publicationwithbg':pubbg}">
        <div [ngClass]="{'content' : true, 'arabic-text': arabicText}">
          <h4 *ngIf="publicationBean.publTitle != 'null'" [routerLink]="['/main/post',publicationBean._id]">
            {{publicationBean.publTitle}} </h4>
          <span *ngIf="publicationBean.publText !== 'null'
                  && publicationBean.publText !=='undefined'
                  && publicationBean.publText.length > 0">
            <!--[innerHTML]="linkView.transformATextHaveALink(publicationBean.publText)">-->
            <span [innerHTML]="firstPubText" style="padding-left:7px" class="{{pubclass}}"></span>
            <a *ngIf="isLongText && !isLongTextShow" (click)="isLongTextShow=true" style="margin-top: 0; display:inline">
              {{"publication_open_last_part" | translate }}</a>
            <span *ngIf="isLongText && isLongTextShow" [innerHTML]="lastPubText" class="{{pubclass}}">
            </span>
          </span>
          <div class="link-preview" *ngIf="link.isSet">
            <div class="noPadding" *ngIf="link.image">
              <a href="{{link.url}}" target="_blank" style="width:100%">
                <img class="img-preview" [src]="link.image" (click)="preventLink($event, link.isGif)" />
              </a>
            </div>
            <div class="descriptions" *ngIf="!link.isGif">
              <a href="{{link.url}}" target="_blank">
                <h4>{{link.title}}</h4>
              </a>
              <p>{{link.description}}</p>
              <a href="{{link.url}}" target="_blank" class="subLink">{{link.url}}</a>
            </div>
          </div>
          <img class="myImg" *ngIf="publicationBean.publPictureLink" src="{{imageBaseUrl + publicationBean.publPictureLink}}">

          <!-- The Modal -->
          <div id="myModal" class="modal">

            <!-- The close Button -->
            <span class="close-button-x">&#10006;</span>
            <!-- The Closing Area -->
            <span class="close-button" onclick="document.getElementById('myModal').style.display='none'">x</span>



            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
          </div>

          <div class="facebook-preview-publication" *ngIf="publicationBean.publfacebookLink && publicationBean.publfacebookLink!='null'">
            <iframe width="500" height="580" [src]="url" frameborder="0" allowfullscreen>
            </iframe>
          </div>

          <div class="youtube-preview-publication" *ngIf="publicationBean.publyoutubeLink && publicationBean.publyoutubeLink!='null'">
            <iframe width="560" height="400" [src]="url" frameborder="0">
            </iframe>
          </div>

        </div>
      </article>


    </div>

    <div class="interactions" *ngIf="publicationBean.nbLikes+publicationBean.nbDislikes != 0 || nbDisplayedComments != 0">


      <span *ngIf="publicationBean.nbLikes+publicationBean.nbDislikes != 0">
        <a (click)="showInteractionsModal = true">
          {{shortNumber(publicationBean.nbLikes+publicationBean.nbDislikes)}} {{ 'interactions' | translate }}</a>
      </span>

      <span *ngIf="publicationBean.nbLikes+publicationBean.nbDislikes != 0 && nbDisplayedComments != 0"> • </span>
      <span *ngIf="nbDisplayedComments != 0">
        <a (click)="displayComments()">
          {{shortNumber(nbDisplayedComments)}} {{ 'commentaires' | translate }}</a>
      </span>
    </div>

    <interactions-modal *ngIf="showInteractionsModal"
                        [pubId]="publicationBean._id"
                        [user]="publicationBean.user"
                        [nbLikes]="publicationBean.nbLikes"
                        [nbDislikes]="publicationBean.nbDislikes"
                        (closeModal)="showInteractionsModal = false"></interactions-modal>

    <div class="social-staff">
      <div class="like-dislike">
        <div class="like-holder">
          <div class="hint-social">
            {{ 'publication_like' | translate }}
          </div>
          <like-reaction [checked]="publicationBean.isLiked" (click)="addOrRemoveLike()" style="display:block; width: 28px; height: 28px;"></like-reaction>
        </div>

        <div class="dislike-holder" style="padding-left: 10px;">
          <div class="hint-social">
            {{ 'publication_love' | translate }}
          </div>
          <love-reaction [checked]="publicationBean.isDisliked" (click)="addOrRemoveDislike()" style="display:block; width: 28px; height: 28px;"></love-reaction>
        </div>
        <div class="dislike-holder" (click)="displayComments()" [class.active]="commentsDisplayed">
          <button class="social-button">

            <img class="social-emoji" src="assets/images/new/comment-active.png" *ngIf="commentsDisplayed">
            <img class="social-emoji desaturated" src="assets/images/new/comment.png" *ngIf="!commentsDisplayed">
          </button>
          <div class="hint-social" *ngIf="!commentsDisplayed">
            {{ 'publication_display_comments' | translate }}
          </div>
          <div class="hint-social" *ngIf="commentsDisplayed">
            {{ 'publication_hide_comments' | translate }}
          </div>

        </div>
        <div class="dislike-holder" (click)="sharePub(publicationBean)">
          <button class="social-button">
            <div class="hint-social">
              {{'partager' | translate }}
            </div>
            <img class="social-emoji" src="assets/images/new/share.png">
          </button>

        </div>
      </div>

      <div class="right-side-of-likes">
        <span class='st_facebook_hcount' displayText='Facebook'></span>
        <span class='st_twitter_hcount' displayText='Tweet'></span>

        <div class="dots">

          <span (click)="openModalPub()">
            <img class="three-points" src="assets/images/new/3-pts.png">
          </span>

          <div class="upper-arrow upper-arrow-signal" *ngIf="signalButton" style="display:block;"></div>
          <div class="sub-menu" *ngIf="signalButton">
            <article *ngIf="publicationBean.profileId != user._id" (click)="reportPub(publicationBean)">
              {{ 'publication_report' | translate }}
            </article>

            <article *ngIf="publicationBean.profileId == user._id" (click)="deletePub(publicationBean)">
              {{ 'publication_delete' | translate }}
            </article>
          </div>

        </div>
      </div>
    </div>
    <div [class.comment-with-picture]="uploadedPictureComment">
      <div *ngIf="commentsDisplayed" class="comment-holder form-comment">
        <img class="user-img for-comment img-circle" src="{{user | AvailablePicture}}">

        <form (ngSubmit)="publishComment()" [formGroup]="formComment" #f="ngForm">
          <textarea placeholder="Votre commentaire ..." formControlName="pubComment" style="display:none" [(ngModel)]="commentText">
          </textarea>
          <textarea placeholder="Votre commentaire ..." formControlName="commentText" style="display:none"></textarea>
          <input type="file" class="{{pubImgId}}" style="display:none" accept="image/*" (change)="uploadPhoto($event)">

          <div class="textarea text-left"
                id="{{commentTextareaId}}"
                placeholder="Votre commentaire ..."
                contenteditable="true"
                (focus)="focused(this)"
                [(contenteditableModel)]="commentInputHtml"
                (keydown.Enter)="publishComment()"
                (keydown)="scrollToCommentInput()"
                #commentInput>
          </div>

          <div class="form-more">
            <img src="/assets/images/new/camera.png" class="addPhoto" (click)="addPhoto()"/>
            <img src="/assets/images/new/smiley.png" class="toggleEmoji" (click)="toggleEmoji()" style="padding-right: 10px;" />
            <button class="comment-publish" type="submit" *ngIf="!loadingComment">
              <!-- {{ 'publication_comment_button' | translate }} -->
              <div class="publishImage"></div>
            </button>
            <button class="comment-publish comment-loading" *ngIf="loadingComment" disabled>
              <div class="loading"></div>
            </button>
            <div class="emoji-hover" id="{{emojiHoverId}}">
              <div class="emoji-header">
                <div class="emoji-categ tooltip-emoji" id="ppl" (click)="changeEmojiTab(0)">
                  <img src="assets/images/basic/smiley.png" />
                  <span class="tooltiptext">
                    {{ 'publication_emoticon_people' | translate }}
                    <div class="arrow-tooltip"></div>
                  </span>
                </div>
                <div class="emoji-categ tooltip-emoji" id="ntr" (click)="changeEmojiTab(1)">
                  <img src="assets/images/basic/evergreen_tree.png" />
                  <span class="tooltiptext">
                    {{ 'publication_emoticon_nature' | translate }}
                    <div class="arrow-tooltip"></div>
                  </span>
                </div>
                <div class="emoji-categ tooltip-emoji" id="objcts" (click)="changeEmojiTab(2)">
                  <img src="assets/images/basic/radio.png" />
                  <span class="tooltiptext">
                    {{ 'publication_emoticon_objects' | translate }}
                    <div class="arrow-tooltip"></div>
                  </span>
                </div>
                <i class="fa fa-times close" aria-hidden="true" (click)="closeModalEmoji()"></i>
              </div>
              <div class="emoji-container" id="ppl-container" *ngIf="selectedEmojiTab==0">
                <div *ngFor="let emoji of listEmoji[0].list" (click)="addToComment(emoji)" class="emoji-elt">
                  <img src="assets/images/basic/{{emoji.imageName}}.png" />
                </div>
              </div>
              <div class="emoji-container" id="ntr-container" *ngIf="selectedEmojiTab==1">
                <div *ngFor="let emoji of listEmoji[1].list" (click)="addToComment(emoji)" class="emoji-elt">
                  <img src="assets/images/basic/{{emoji.imageName}}.png" />
                </div>

              </div>
              <div class="emoji-container" id="objcts-container" *ngIf="selectedEmojiTab==2">
                <div *ngFor="let emoji of listEmoji[2].list" (click)="addToComment(emoji)" class="emoji-elt">
                  <img src="assets/images/basic/{{emoji.imageName}}.png" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="uploadedPictureComment" class="upload-comment-picture-cont">
        <img class="upload-comment-picture" id="{{pubImgId}}" />
        <i class="fa fa-times delete-photo-comment cancel-upload-comment-picture" aria-hidden="true" *ngIf="uploadedPictureComment"
          (click)="resetCommentPicture()" style="top:-2px; right: -12px;"></i>
      </div>
    </div>
    <!-- comments -->
    <comment *ngFor="let commentBean of myComments" [commentBean]="commentBean" [publicationBean]="publicationBean" [(nbDisplayedComments)]="nbDisplayedComments">
    </comment>
    <div class="comments-holder" *ngIf="commentsDisplayed && hiddenContent">
      <comment *ngFor="let commentBean of listComments" [commentBean]="commentBean" [publicationBean]="publicationBean" [(nbDisplayedComments)]="nbDisplayedComments">
      </comment>
      <loading-bar *ngIf="afficheCommentsLoading"></loading-bar>
      <!-- more comments -->
      <div *ngIf="afficheMoreComments" class="comment-holder plus-comment" (click)="loadMoreComments(0)">
        <div class="margin-auto">
          {{ 'publication_display_more_comments' | translate }}
          <i class="fa fa-caret-down"></i>
        </div>
      </div>
    </div>
  </article>
</div>
<div class="modal-edit-pub" *ngIf="modalPub" (click)="closeModalPub()">
  <div class="white-box-edit">
    <article *ngIf="publicationBean.profileId != user._id" (click)="unsubscribe(publicationBean)">
      {{ 'publication_unfollow' | translate }} {{publicationBean.profileFirstName}}
    </article>
    <article *ngIf="publicationBean.profileId != user._id" (click)="reportPub(publicationBean)">
      {{ 'publication_report' | translate }}
    </article>
    <article *ngIf="publicationBean.profileId == user._id" (click)="deletePub(publicationBean)">
      {{ 'publication_delete' | translate }}
    </article>
    <article (click)="closeModalPub()">
      {{ 'publication_cancel' | translate }}
    </article>
  </div>
</div>
