.comment-publish {
    padding: 0 10px 12px 12px;
    align-self: flex-end;
}


.form-more {
    font-size: 18px;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    color: #999;
    justify-content: flex-end;
    position: absolute;
    right: 33px;
    bottom: 11px;
}

.form-comment{
    display: block!important;
}

.form-comment .camera-div{
    display: inline-block!important;
}

.comment-holder .textarea {
    flex-grow: 1;
}

.loading {
    border-top-color: grey;
}

.camera-div{
    display: inline-block;
}

.addPhoto{
    width:30px;
    height:25px;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
  }

  
.publishImage{
    background-image: url(/assets/images/new/sendcomment-grey.png);
    width:25px;
    height:25px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }

  .toggleEmoji{
    width:35px;
    height:23px;
    margin-right:10px;
  }

@media screen and (max-width:768px){
    .camera-div{
        margin-top: 8px;
    }
    .form-more{
        bottom:9px;
    }
    .comment-publish{
        padding: 0px 17px 9px 2px;
        margin-left: 4px;
    }
}