<div class="row">
    <form class="col-xs-12" style="padding-top:40px" [formGroup]="form" #f="ngForm" (ngSubmit)="saveData()">
        <div class="col-md-4 col-xs-5 label-param">
            ancien mot de passe 
        </div>
        <div class="col-md-8 col-xs-7 input-param">
            <input type="password" formControlName="oldPass"
            [ngClass]="{'invalidInput': (errOldPass && errOldPass.length>0)}"  id="oldPass"
            />
            <p *ngIf="errOldPass && errOldPass.length>0" class="msgErreur">{{errOldPass}}</p>
        </div>

         <div class="col-md-4 col-xs-5 label-param">
            nouveau mot de passe
        </div>
        <div class="col-md-8 col-xs-7 input-param">
            <input type="password" formControlName="newPass1"
            [ngClass]="{'invalidInput': (errNewPass1 && errNewPass1.length>0)}"  id="newPass1"
            />
            <p *ngIf="errNewPass1 && errNewPass1.length>0" class="msgErreur">{{errNewPass1}}</p>
        </div>

        <div class="col-md-4 col-xs-5 label-param">
            Retapez le nouveau mot de passe
        </div>
        <div class="col-md-8 col-xs-7 input-param">
            <input type="password" formControlName="newPass2"
            [ngClass]="{'invalidInput': (errNewPass2 && errNewPass2.length>0)}"  id="newPass2"
            />
            <p *ngIf="errNewPass2 && errNewPass2.length>0" class="msgErreur">{{errNewPass2}}</p>
        </div>

         <div class="col-md-12 col-xs-12 button-param centered-text">
           <button>Modifier</button>
        </div>

    </form>

</div>