<div class="row">
  <form class="col-xs-12" style="padding-top:40px" [formGroup]="form" #f="ngForm" (ngSubmit)="saveData()">

    <div class="col-md-4 col-xs-5"></div>
    <div class="col-md-8 col-xs-7">
      <p *ngIf="success" style="color: #20a011;font-weight: 500;">
        {{ 'update_password_success' | translate }}
      </p>

      <p *ngIf="errorMessage" class="error-msg-validation">
        {{ errorMessage | translate }}
      </p>
    </div>
    <div>

    </div>


    <div class="col-md-4 col-sm-4 col-xs-12 label-param">
      {{ 'update_password_old_password' | translate }}
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12 input-param">
      <input type="password" formControlName="oldPass" (click)="reset()"
             [ngClass]="{'invalidInput': (errOldPass && errOldPass.length>0)}" id="oldPass"
        />

      <p *ngIf="errOldPass && errOldPass.length>0" class="msgErreur">{{errOldPass}}</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 label-param">
      {{ 'update_password_new_password' | translate }}
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12 input-param">
      <input type="password" formControlName="newPass1"
             [ngClass]="{'invalidInput': (errNewPass1 && errNewPass1.length>0)}" id="newPass1"
             (click)="reset()"/>

      <p *ngIf="errNewPass1 && errNewPass1.length>0" class="msgErreur">{{errNewPass1}}</p>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12 label-param">
      {{ 'update_password_confirm_password' | translate }}
    </div>

    <div class="col-md-8 col-sm-8 col-xs-12 input-param">
      <input type="password" formControlName="newPass2"
             (click)="reset()"
             [ngClass]="{'invalidInput': (errNewPass2 && errNewPass2.length>0)}"
             id="newPass2"/>

      <p *ngIf="errNewPass2 && errNewPass2.length>0" class="msgErreur">{{errNewPass2}}</p>
    </div>

    <div class="col-md-12 col-xs-12 button-param centered-text" style="margin-top: 30px;">
      <button>{{ 'update_password_button' | translate }}</button>
    </div>

  </form>

</div>
