<div class="container" style="padding-right:0 !important;padding-left:0 !important;padding-top:0 !important">
  <div class="row">
    <div *ngIf="!wrongPost" class="col-md-8 col-sm-7 col-xs-12 side-home" style="padding-right:0 !important;padding-left:0 !important;padding-top:0 !important">

      <section *ngIf="user" id="publications" class="col-xs-12" >
        <publication *ngFor=" let publicationBean of publicationBeanList" [publicationBean]="publicationBean"></publication>
      </section>
    </div>

    <div *ngIf="wrongPost" class="col-md-8 col-sm-7 col-xs-12 side-home" style="padding-right:0 !important;padding-left:0 !important">
      <not-found [type]="'post'"></not-found>
    </div>

    <div *ngIf="user" class="col-md-4 col-sm-5 hidden-xs side-home">
      <top-blagueurs-decov></top-blagueurs-decov>
    </div>
  </div>
</div>
