<div class="container" *ngIf="user">
  <div *ngIf="!isNotFound" class="row header-Profile">

    <!--heder Profile-->
        <div *ngIf="user && userDisplayed" class="col-md-3 col-sm-4 col-xs-4">
          <section class="widget bordered-white profile-photo centered-text" style="position:relative;"
                   [ngStyle]="{'background-image': 'url(' + userDisplayed.profilePicture + ')'}">
            <div class="profile-picture-loading" *ngIf="profilePictLoad"></div>
            <i class="fa fa-upload" aria-hidden="true" *ngIf="user._id==userDisplayed._id" (click)="changePhoto()"></i>
            <i class="fa fa-floppy-o" aria-hidden="true" *ngIf="uploadedProfilePicture"
               (click)="changePhotoUpload()"></i>
            <i class="fa fa-times" aria-hidden="true" *ngIf="uploadedProfilePicture"
               (click)="changePhotoCancel()"></i>
            <input type="file" id="file-profile" style="display:none" accept="image/*"
                   (change)="updateProfilePicture($event)">
          </section>
          <!--
          <button class="btn-edit-profile btn-edit-profile-1 hidden-xs" [routerLink]="['/main/parameters']">
            {{ 'profile_menu_update_profile' | translate }}
          </button>
          -->

        </div>


        <div class="col-md-6 header-segement name-holder col-sm-7 col-xs-8">
          <h3 class="user-name-profile"><span>{{userDisplayed.firstName}} {{userDisplayed.lastName}}</span><div class="profile-edit hidden-lg hidden-md hidden-sm" *ngIf="user._id==userDisplayed._id">
                <div class="three-dots" (click)="openModal()">
                  <span class=" glyphicon glyphicon-option-horizontal"></span>
                </div>
              </div>
          </h3>
                      <span *ngIf="user._id!=userDisplayed._id">
                    <button *ngIf="!userDisplayed.isFollowed" (click)="subscribe(userDisplayed)"
                            class="sub-profile-btn-old">
                      {{ 'profile_subscribe' | translate }}
                    </button>
                    <button *ngIf="userDisplayed.isFollowed" (click)="unsubscribe(userDisplayed)"
                            class="sub-profile-btn-old active">
                      {{ 'profile_already_subscribed' | translate }}
                    </button>
                </span>
          <div class="header-segement edit-profile-mobile hidden-lg hidden-md hidden-sm"
          *ngIf="user._id==userDisplayed._id">
       <button class="btn-edit-profile" [routerLink]="['/main/parameters']">
         {{ 'profile_menu_update_profile' | translate }}
       </button>

     </div>
          <div class="profile-edit hidden-xs" >
            <div *ngIf="user._id!=userDisplayed._id" class="three-dots" (click)="openModalOtherProfile()">
              <span class=" glyphicon glyphicon-option-horizontal"></span>
            </div>
            <div *ngIf="user._id==userDisplayed._id" class="three-dots" (click)="openModal()">
              <span class="glyphicon glyphicon-option-horizontal"></span>
            </div>
          </div>

<div class="header-segement social-holder hidden-xs">

  <div class="score">
    <span [ngClass]="{'zero-value' : userDisplayed.nbSubscribers===0}">
      <b>{{userDisplayed.nbSubscribers}} </b>
      {{ 'profile_menu_followers' | translate }}
    </span>
    <span class="empty"> </span>
    <span [ngClass]="{'zero-value' : userDisplayed.nbSuivi===0}">
      <b>{{userDisplayed.nbSuivi}} </b>
      {{ 'profile_menu_followed' | translate }}
    </span>
    <span class="empty"> </span>
    <span [ngClass]="{'zero-value' : userDisplayed.nbPublications===0}">
      <b>{{userDisplayed.nbPublications}} </b>
      {{ 'profile_menu_publications' | translate }}
    </span>
  </div>
  <div class="social-btns ">
    <article *ngIf="userDisplayed.facebookLink" class="facebook-btn">
      <img src="assets/pictures/fb.png" (click)="goFB()" class="fb">
    </article>
    <article *ngIf="userDisplayed.twitterLink" class="twitter-btn">
      <img src="assets/pictures/twitter.png" (click)="goTW()" class="tw">
    </article>
    <article *ngIf="userDisplayed.youtubeLink" class="youtube-btn">
      <img src="assets/pictures/yt.png" (click)="goYT()" class="yt">
    </article>
  </div>


</div>


                    <div class="header-segement description-holder description-holder-1">
            <span *ngIf="!editDescriptionEnable">
            <span *ngIf="userDisplayed.about">{{userDisplayed.about}}</span>
            <span *ngIf="!userDisplayed.about && user._id==userDisplayed._id">
              {{ 'profile_description_empty' | translate }}
            </span>


            <i *ngIf="user._id==userDisplayed._id" class="fa fa-pencil" aria-hidden="true"
               (click)="editDescription()"></i></span>

  <div class="edit-decription row" *ngIf="editDescriptionEnable">
    <div class="col-lg-9 col-md-8 col-sm-12">
      <form>
        <textarea id="descEdit" style="display:block" (keydown.Enter)="saveDescriptionWithEnter($event)">{{userDisplayed.about}}</textarea>
        <button (click)="saveDescription()"
                style="display: inline-block;margin-top: 5px;border: 1px solid #009900;background-color: white;">
          {{ 'profile_description_button_save' | translate }}
        </button>
        <button (click)="editDescriptionEnable=false"
                style="display: inline-block;margin-top: 5px;border: 1px solid #e1e1e1;background-color: white;">
          {{ 'profile_description__button_cancel' | translate }}
        </button>
      </form>
  </div>
  </div>

</div>
        </div>
        <div class="header-segement description-holder description-holder-2">
                    <span *ngIf="!editDescriptionEnable">
                    <span *ngIf="userDisplayed.about">{{userDisplayed.about}}</span>
                    <span *ngIf="!userDisplayed.about">
                      {{ 'profile_description_empty' | translate }}
                    </span>


                    <i *ngIf="user._id==userDisplayed._id" class="fa fa-pencil" aria-hidden="true"
                       (click)="editDescription()"></i></span>

          <div class="edit-decription" *ngIf="editDescriptionEnable">
            <form>
              <textarea id="descEdit" style="display:block" (keydown.Enter)="saveDescriptionWithEnter($event)">{{userDisplayed.about}}</textarea>
              <button (click)="saveDescription()"
                      style="display: inline-block;margin-top: 5px;border: 1px solid #009900;background-color: white;">
                {{ 'profile_description_button_save' | translate }}
              </button>
              <button (click)="editDescriptionEnable=false"
                      style="display: inline-block;margin-top: 5px;border: 1px solid #e1e1e1;background-color: white;">
                {{ 'profile_description__button_cancel' | translate }}
              </button>
            </form>
          </div>

        </div>





        <div class="hidden-lg hidden-md hidden-sm header-segement social-holder col-xs-12">
          <div class="row" style="margin-top:10px;border-top:1px solid #e1e1e1;border-bottom:1px solid #e1e1e1;">
            <div class="col-xs-4 centered-text score-mobile more-friends-mobile"
                 (click)="openModalFriends()">
              <b>{{userDisplayed.nbSubscribers}} </b>
              <br>
              {{ 'profile_menu_followers' | translate }}
            </div>
            <div class="col-xs-4 centered-text score-mobile">
              <b>{{userDisplayed.nbSuivi}}</b>
              <br>
              {{ 'profile_menu_followed' | translate }}
            </div>
            <div class="col-xs-4 centered-text score-mobile">
              <b>{{userDisplayed.nbPublications}} </b><!-- TO CORRECT-->
              <br>
              {{ 'profile_menu_publications' | translate }}
            </div>
          </div>


        </div>



    <!---------------------------------------------------------------------------------------->








  </div>
</div>

<hr style="margin-top:10px; margin-bottom:40px;"/>

<div class="container" *ngIf="user">
  <div *ngIf="!isNotFound" class="row">
    <div class="col-md-3 col-xs-12 margin-top-0">
    </div>


    <div *ngIf="userDisplayed && user" class="col-md-6 col-xs-12 side-home margin-top-0"
         style="padding-top:0 !important">


      <section id="publications" class="col-xs-12 noPadding" style="height: 100%">
        <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="0"
             (scrolled)="onScrollDown()">
          <publication *ngFor=" let publicationBean of publicationBeanList"
                       [publicationBean]="publicationBean"></publication>

          <article class="publication bordered margin-top-0" *ngIf="showLoading ">

            <div class="user">
              <div class="user-img bgAnimated">
              </div>
              <div class="user-name bgAnimated" style="width:40%;height:10px;">
              </div>

            </div>
            <div class="content">
              <h4 class="bgAnimated" style="width:40%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:55%;height:10px;"></h4>
              <h4 class="bgAnimated" style="width:65%;height:10px;"></h4>
            </div>
          </article>
          <div class="publication bordered erreur" *ngIf="userDisplayed.dateInscription" style="margin-top:0">
            <div style="text-align:center">
              <h3>
                {{ 'profile_label_registration_date' | translate }}
              </h3>
              <h4><i class="fa fa-calendar-o" aria-hidden="true" style="margin-right:5px"></i>{{userDisplayed.dateInscription}}
              </h4>
            </div>
          </div>
        </div>
      </section>


    </div>

    <div class="col-md-3 hidden-sm hidden-xs" *ngIf="false">
      <top-blagueurs-decov></top-blagueurs-decov>
    </div>
  </div>

  <div *ngIf="isNotFound" class="row">
    <div class="col-md-12">
      <div class="col-md-8 col-sm-7 col-xs-12">
        <not-found [type]="'profile'"></not-found>
      </div>
    </div>
  </div>

</div>


<div class="modal-edit-profile" style="display:none">
  <div class="white-box-edit">
    <article [routerLink]="['/main/parameters/edit-profile']">
      {{ 'profile_menu_update_profile' | translate }}
    </article>
    <article [routerLink]="['/logout']">
      {{ 'profile_menu_log_out' | translate }}
    </article>
    <article (click)="closeModal()">
      {{ 'profile_menu_cancel' | translate }}
    </article>
  </div>
</div>


<div class="modal-other-profile-options" style="display:none">
  <div class="white-box-edit">
    <article>
      {{ 'profile_menu_bloquer' | translate }}
    </article>
    <article>
      {{ 'profile_menu_signaler' | translate }}
    </article>
    <article (click)="ModalOtherProfile()">
      {{ 'profile_menu_cancel' | translate }}
    </article>
  </div>
</div>





