<!-- modified
<header class="suggestions-header"><b>Suggérés pour vous</b></header>
-->

<div class="col-xs-12 bordered welcome-msg typeEffect" id="suggestionMSG" style="text-align: center; margin-bottom: 30px; float:none;">
	<h4> {{ 'home_welcome' | translate }}</h4>
	{{ 'home_suggestion_message' | translate }}
</div>

<section class="suggestions-box widget row bordered">
  <div class="container-draggable"  *ngFor="let user of popularProfiles">

    <div class="msg-draggable">
    </div>
    <div class="user col-xs-12 draggable">
      <div class="user-img-shared" *ngIf="user.profilePictureMin"
           [ngStyle]="{'background-image': 'url('+user.profilePictureMin+')'}">
      </div>
      <div class="user-img-shared" *ngIf="!user.profilePictureMin"
           [ngStyle]="{'background-image': 'url('+user.profilePicture+')'}">
      </div>
      <div class="user-name">
        <header><a [routerLink]="['/main/profile', user._id]">
          {{user.firstName}} {{user.lastName}}
        </a></header>
        <div class="nbr-subscribers">
          {{user.nbSubscribers}} {{ 'profile_menu_followers' | translate }}
        </div>
      </div>
      <div class="subscribe-no-number" style="min-width:12px">
        <button (click)="subscribeClick($event, user)" style="float:none">
            {{ 'profile_subscribe' | translate }}
        </button>
      </div>
    </div>

  </div>
</section>
