.suggestions-box {
  margin-top: 90px;
}

.user-name {
  max-width: calc(100% - 150px);
}

.user-name .nb-subscribers {
  font-weight: bold;
  font-size: 13px;
  color: #888;
  display: block;
}

.user-name header a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
