 <!--Search functionnality-->
  <div class="row ">
	<input #searchBar class="search" placeholder="{{ 'main_search_placeholder' }}" [(ngModel)]="searchValue" (keyup)="onChange($event.target.value)"
	(focus)="onFocus()">
	<i class="fa fa-search" aria-hidden="true"></i>

	<div class="upper-arrow-search upper-arrow"></div>
	<div class="recherche-results-holder recherche-results-holder-1" style="display:none;" *ngIf="listSearchUsers">
	  <div class="recherche-results" *ngIf="listSearchUsers.length>0">
		<article *ngFor="let result of listSearchUsers" (click)="loadUser(result)">
		  <div class="user-img" *ngIf="result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePictureMin + ')'}">
		  </div>
		  <div class="user-img" *ngIf="!result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePicture + ')'}">
		  </div>
		  <div class="">
			{{result.firstName}} {{result.lastName}}
		  </div>
		</article>
	  </div>
	 
	</div>
	</div>

<!---->
<ul class="list-group">
	<li class="list-group-item"
		*ngFor="let user of chatListUsers"
		(click)="selectUser(user)" 
		[class.active]="isUserSelected(user.id)">
			{{ user.firstName +' '+ user.lastName }}
	</li>
</ul>

