<app-header-mobile class="hidden-md hidden-lg"></app-header-mobile>

 <!--Search functionnality-->

<div class="input-search">
	<img alt="search-icon" class="outline-icon" src="assets/images/new/search-icon.png">
	<input #searchBar placeholder="Rechercher" [(ngModel)]="searchValue" (ngModelChange)="onChange($event)" (focus)="onFocus()">

	<div class="upper-arrow-search upper-arrow"></div>
	<div class="recherche-results-holder recherche-results-holder-1" style="display:none;" *ngIf="listSearchUsers">
	  <div class="recherche-results" *ngIf="listSearchUsers.length>0">
		<article *ngFor="let result of listSearchUsers" (click)="loadUser(result)">
		  <div class="user-img" *ngIf="result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePictureMin + ')'}">
		  </div>
		  <div class="user-img" *ngIf="!result.profilePictureMin" [ngStyle]="{'background-image': 'url(' + result.profilePicture + ')'}">
		  </div>
		  <div class="">
				{{result.firstName}} {{result.lastName}}
		  </div>
		</article>
	  </div>
	 
	</div>
</div>
<!-- <ul class="list-group">
	<li class="list-group-item"
		*ngFor="let user of chatListUsers"
		(click)="selectUser(user)" 
		[class.active]="isUserSelected(user.id)">
			{{ user.firstName +' '+ user.lastName }}
	</li>
</ul> -->
<div class="users-list" *ngFor="let user of chatListUsers">
	<app-chat-list-item [class.active]="isUserSelected(user.id)" (click)="selectUser(user)"  user="{{user.firstName}} {{user.lastName}}"
		userImage="{{user.profilePicture}}"></app-chat-list-item>
</div>
<app-chat-list-item  user="Test"
		></app-chat-list-item>
		<app-chat-list-item   user="Test" [notread]="true" [myLastMessage]="false"></app-chat-list-item>
		<app-chat-list-item  user="Test"></app-chat-list-item>
