<!-- comments -->
<div class="comment-holder" *ngIf="!commentBean.deleted">
    <div class="user-img for-comment radiused-img" *ngIf="commentBean.profilePictureMin" [ngStyle]="{'background-image': 'url(' + commentBean.profilePictureMin + ')'}"></div>

    <div class="user-img for-comment radiused-img" *ngIf="!commentBean.profilePictureMin" [ngStyle]="{'background-image': 'url(' + commentBean.profilePicture + ')'}"></div>

	<div class="comment-content">
        <div class="row name-and-text-comment">
            <div class="commenter-name col-xs-12" [routerLink]="['/main/profile',commentBean.profileId]">
			{{commentBean.profileFirstName}} {{commentBean.profileLastName}}
			</div>
            <div class="col-xs-12 comment-text" [innerHTML]="afficheComment(commentBean.commentText)" style="margin-bottom: 5px; !important;">

            </div>
            <img *ngIf="commentBean.commentPicture" src="{{imageBaseUrl + commentBean.commentPicture}}" style="width: 60%;margin-left: 15px;margin-bottom: 15px;"/>
        </div>
       <div class="like-comment col-xs-12 ">
            <div class="like-dislike">
                <div class="like-holder" (click)="addOrRemoveLike()" [class.active]="commentBean.isLiked">
                    <button class="like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></button>
                    <span  class="nbr">{{commentBean.nbLikes}}</span>
              </div>
                <div class="dislike-holder" style="margin-right:10px" (click)="addOrRemoveDislike()"[class.active]="commentBean.isDisliked">
                    <button class="dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i></button>
                    <span  class="nbr">{{commentBean.nbDislikes}}</span>
                </div>


                <div class="dislike-holder" style="margin-right:10px" (click)="removeComment(commentBean)"
                     *ngIf="commentBean.profileId == user._id || publicationBean.profileId == user._id" >
                    <button class="like" ><i class="fa fa-trash-o"></i></button>
                </div>

                <div  style="font-size:12px" >
                    <button style="font-size:12px" ><i class="fa fa-clock-o"></i>
                    <span> {{getCommentTime(commentBean.dateComment)}} </span>  </button>
                </div>
            </div>
        </div>
    </div>
</div>
